<div class="flex-container" fxLayout="row">
    <div fxFlex></div>
    <button md-raised-button color="accent" mdTooltip="add new entity" aria-label="add new entity" (click)="addNewEntity();" class="button-spacing">
        Add Entity
    </button>
</div>
<div style="margin: 10px 0 0 0;">
    <form [formGroup]="form" novalidate materialize>
        <div *ngFor="let entity of entities" id="{{entity.id}}" style="margin: 10px 0; padding: 10px;">
            <div class="form-group">
                <div class="flex-container" fxLayout="row">
                    <h4 style="margin-left: 10px; font-size: 18pt; word-break: break-all;" fxFlex>{{entity.name}}</h4>
                    <button md-icon-button color="warn" mdTooltip="delete entity" aria-label="delete entity" (click)="removeEntity(entity.id)" class="button-spacing" style="margin-top: 10px;">
                        <md-icon class="md-16">delete</md-icon>
                    </button>
                </div>
                <div class="input-field">
                    <input class="form-control" type="text" name="name" placeholder="Entity name" formControlName="{{entity.id}}">
                    <label>Name</label>
                </div>
            </div>
        </div>
    </form>
</div>