<div layout="column">
    <h3 class="section-title">Add Filters</h3>

    <div layout="row" layout-padding>
        <md-input-container flex>
            <md-select id="named-views"
                       multiple
                       ng-model="ctrl.selectedNamedViews"
                       md-selected-text="ctrl.createNamedViewsLabel(ctrl.selectedNamedViews)"
                       aria-label="named views picker"
                       md-on-close="ctrl.updateModel()"
                       data-md-container-class="searchable-select">
                <md-select-header class="search-header">
                    <input
                            ng-model="ctrl.namedViewSearchTerm"
                            type="search"
                            class="search-box md-text"
                            placeholder="Search for filters...">
                </md-select-header>
                <md-option ng-value="view"
                           ng-repeat="view in ctrl.availableNamedViews | namedViewsFilter:ctrl.namedViewSearchTerm"
                           aria-label="{{view.name}}">
                    <div class="md-body-2">{{view.name}}</div>
                    <em class="md-body-1">{{view.description}}</em>
                </md-option>
            </md-select>
        </md-input-container>
        <div layout="column" layout-align="center">
            <md-button class="md-icon-button"
                       ng-click="ctrl.refreshNamedViews()">
                <md-tooltip>Refresh named views</md-tooltip>
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
        </div>
    </div>

    <div ng-repeat="namedView in ctrl.selectedNamedViews track by namedView.name"
         ng-if="ctrl.namedViewHasParams(namedView)">
        <parameter-form title="{{namedView.name}} parameters"
                        title-class="transparent md-no-sticky md-subheader"
                        parameters="namedView.parameters"></parameter-form>
    </div>

    <div layout="row" layout-padding>
        <md-input-container flex>
            <label>Only include these entities</label>
            <md-select id="view-entities" class="no-ellipsis" multiple
                       md-selected-text="ctrl.createViewElementsLabel(ctrl.viewEntities, 'entities')"
                       ng-model="ctrl.viewEntities"
                       md-on-close="ctrl.onElementGroupChange('entity')"
                       data-md-container-class="searchable-select">
                <md-select-header class="search-header">
                    <input
                            ng-model="ctrl.entitySearchTerm"
                            type="search"
                            class="search-box md-text"
                            placeholder="Search for an entity group...">
                </md-select-header>
                <md-option ng-value="entity"
                           ng-repeat="(entity, detail) in ctrl.schemaEntities | schemaGroupFilter:ctrl.entitySearchTerm">
                    <div class="md-subhead">{{entity}}</div>
                    <div class="md-body-1">{{detail.description}}</div>
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex>
            <label>Only include these edges</label>
            <md-select id="view-edges" class="no-ellipsis" multiple
                       md-selected-text="ctrl.createViewElementsLabel(ctrl.viewEdges, 'edges')"
                       ng-model="ctrl.viewEdges"
                       md-on-close="ctrl.onElementGroupChange('edge')"
                       data-md-container-class="searchable-select">
                <md-select-header class="search-header">
                    <input
                            ng-model="ctrl.edgeSearchTerm"
                            type="search"
                            class="search-box md-text"
                            placeholder="Search for an edge group...">
                </md-select-header>
                <md-option ng-value="edge"
                           ng-repeat="(edge, detail) in ctrl.schemaEdges | schemaGroupFilter:ctrl.edgeSearchTerm">
                    <div class="md-subhead">{{edge}}</div>
                    <div class="md-body-1">{{detail.description}}</div>
                </md-option>
            </md-select>
        </md-input-container>
    </div>

    <md-list>
        <div ng-repeat="entity in ctrl.viewEntities track by entity"
             ng-if="ctrl.getEntityProperties(entity)">
            <md-subheader class="transparent md-no-sticky">{{entity}} Filters
            </md-subheader>
            <md-list-item class="secondary-button-padding"
                          ng-click="ctrl.editFilter(entity, 'entity', true, filter, $index)"
                          ng-repeat="filter in ctrl.entityFilters[entity].preAggregationFilterFunctions track by $index">
                <p> {{ctrl.createFilterLabel(filter, true)}} </p>
                <md-icon class="md-secondary" md-svg-icon="delete"
                         id="delete-pre-entity-{{entity}}-filter-{{$index}}"
                         ng-click="ctrl.deleteFilter(entity, 'entity', true, $index)"
                         aria-label="delete filter"></md-icon>
            </md-list-item>
            <md-list-item class="secondary-button-padding"
                          ng-click="ctrl.editFilter(entity, 'entity', false, filter, $index)"
                          ng-repeat="filter in ctrl.entityFilters[entity].postAggregationFilterFunctions track by $index">
                <p> {{ctrl.createFilterLabel(filter, false)}} </p>
                <md-icon class="md-secondary" md-svg-icon="delete"
                         id="delete-post-entity-{{entity}}-filter-{{$index}}"
                         ng-click="ctrl.deleteFilter(entity, 'entity', false, $index)"
                         aria-label="delete filter">
                    <md-tooltip>Delete filter</md-tooltip>
                </md-icon>
            </md-list-item>
            <md-button class="no-text-transform" id="add-{{entity}}-filters"
                       ng-click="ctrl.addFilters($event, entity, 'entity')">
                Add {{entity}} Filters
            </md-button>
            <md-divider ng-hide="ctrl.noMore(entity)"></md-divider>
        </div>
        <div ng-repeat="edge in ctrl.viewEdges track by edge"
             ng-if="ctrl.getEdgeProperties(edge)">
            <md-subheader class="transparent md-no-sticky">{{edge}} Filters
            </md-subheader>
            <md-list-item class="secondary-button-padding"
                          ng-click="ctrl.editFilter(edge, 'edge', true, filter, $index)"
                          ng-repeat="filter in ctrl.edgeFilters[edge].preAggregationFilterFunctions track by $index">
                <p> {{ctrl.createFilterLabel(filter, true)}} </p>
                <md-icon class="md-secondary" md-svg-icon="delete"
                         id="delete-pre-edge-{{edge}}-filter-{{$index}}"
                         ng-click="ctrl.deleteFilter(edge, 'edge', true, $index)"
                         aria-label="delete filter"></md-icon>
            </md-list-item>
            <md-list-item class="secondary-button-padding"
                          ng-click="ctrl.editFilter(edge, 'edge', false, filter, $index)"
                          ng-repeat="filter in ctrl.edgeFilters[edge].postAggregationFilterFunctions track by $index">
                <p> {{ctrl.createFilterLabel(filter, false)}} </p>
                <md-icon class="md-secondary" md-svg-icon="delete"
                         id="delete-post-edge-{{entity}}-filter-{{$index}}"
                         ng-click="ctrl.deleteFilter(edge, 'edge', false, $index)"
                         aria-label="delete filter">
                    <md-tooltip>Delete filter</md-tooltip>
                </md-icon>
            </md-list-item>
            <md-button class="no-text-transform" id="add-{{edge}}-filters"
                       ng-click="ctrl.addFilters($event, edge, 'edge')">
                Add {{edge}} Filters
            </md-button>
            <md-divider ng-hide="ctrl.noMore(edge)"></md-divider>
        </div>
    </md-list>
</div>