<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Configure View</span>
            <span class="md-subhead">If you don't select any Entities or Edges, then all Entities and Edges will be returned</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <h4 class="md-title">Entities</h4>

        <p ng-show="!ctrl.schemaEntities || ctrl.schemaEntities.length === 0">
            No related entities
        </p>

        <div ng-repeat="entity in ctrl.schemaEntities">
            <md-checkbox
                    id="related-entity-{{entity}}"
                    ng-checked="ctrl.exists(ctrl.expandEntities, entity)"
                    ng-click="ctrl.toggle(entity, ctrl.expandEntities)">
                {{entity}}
            </md-checkbox>

            <div ng-show="ctrl.exists(ctrl.expandEntities, entity)">
                <table md-table
                       ng-show="ctrl.getEntityProperties(entity)">
                    <tbody md-body>
                    <tr md-row ng-repeat="filter in ctrl.expandEntitiesContent[entity].filters.preAggregation">
                        <td md-cell>
                            <md-input-container flex>
                                <label>Select a property</label>
                                <md-select id="{{entity}}-pre-property-selector"
                                           ng-model="filter.property"
                                           ng-change="ctrl.onSelectedPropertyChange(entity, filter)">
                                    <md-option ng-repeat="(name, type) in ctrl.getEntityProperties(entity)" ng-value="name">{{name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </td>
                        <td md-cell>
                            <md-input-container flex>
                                <label>Select a predicate</label>
                                <md-select
                                        id="{{entity}}-pre-{{filter.property}}-predicate-selector"
                                        ng-model="filter.predicate"
                                        ng-change="ctrl.onSelectedFunctionChange(entity, filter)">
                                    <md-option ng-repeat="predicate in filter.availableFunctions" ng-value="predicate">{{predicate}}</md-option>
                                </md-select>
                            </md-input-container>
                        </td>

                        <td md-cell>
                            <div layout="row" layout-padding layout-align="center center">
                                <div layout="column" flex="50">
                                    <md-input-container ng-repeat="(idx, param) in filter.availableFunctionParameters">
                                        <label>{{param}}</label>
                                        <input type="text"
                                               id="{{entity}}-pre-{{filter.property}}-{{filter.predicate}}-{{param}}"
                                               ng-model="filter.parameters[idx]">
                                    </md-input-container>
                                </div>
                                <p ng-show="filter.availableFunctionParameters.length > 0 && filter.propertyClass" flex="50">
                                    You may need to
                                    explicitly
                                    tell Gaffer the type of
                                    the
                                    parameter, e.g:
                                    {"{{filter.propertyClass}}":
                                    value}
                                </p>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <md-button id="{{entity}}-add-pre-filter"
                           ng-click="ctrl.addFilterFunction(ctrl.expandEntitiesContent, entity, true)"
                           ng-show="ctrl.getEntityProperties(entity)">
                    Add Pre Aggregation filter
                </md-button>
                <table md-table
                       ng-show="ctrl.getEntityProperties(entity)">
                    <tbody md-body>
                    <tr md-row ng-repeat="filter in ctrl.expandEntitiesContent[entity].filters.postAggregation">
                        <td md-cell>
                            <md-input-container flex>
                                <label>Select a property</label>
                                <md-select id="{{entity}}-post-property-selector"
                                           ng-model="filter.property"
                                           ng-change="ctrl.onSelectedPropertyChange(entity, filter)">
                                    <md-option ng-repeat="(name, type) in ctrl.getEntityProperties(entity)" ng-value="name">{{name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </td>
                        <td md-cell>
                            <md-input-container flex>
                                <label>Select a predicate</label>
                                <md-select
                                        id="{{entity}}-post-{{filter.property}}-predicate-selector"
                                        ng-model="filter.predicate"
                                        ng-change="ctrl.onSelectedFunctionChange(entity, filter)">
                                    <md-option ng-repeat="predicate in filter.availableFunctions" ng-value="predicate">{{predicate}}</md-option>
                                </md-select>
                            </md-input-container>
                        </td>

                        <td md-cell>
                            <div layout="row" layout-padding layout-align="center center">
                                <div layout="column" flex="50">
                                    <md-input-container ng-repeat="(idx, param) in filter.availableFunctionParameters">
                                        <label>{{param}}</label>
                                        <input type="text"
                                               id="{{entity}}-post-{{filter.property}}-{{filter.predicate}}-{{param}}"
                                               ng-model="filter.parameters[idx]">
                                    </md-input-container>
                                </div>
                                <p ng-show="filter.availableFunctionParameters.length > 0 && filter.propertyClass" flex="50">
                                    You may need to
                                    explicitly
                                    tell Gaffer the type of
                                    the
                                    parameter, e.g:
                                    {"{{filter.propertyClass}}":
                                    value}
                                </p>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <md-button id="{{entity}}-add-post-filter"
                           ng-click="ctrl.addFilterFunction(ctrl.expandEntitiesContent, entity, false)"
                           ng-show="ctrl.getEntityProperties(entity)">
                    Add Post Aggregation filter
                </md-button>
            </div>
        </div>


        <h4 class="md-title">Edges</h4>

        <p ng-show="!ctrl.schemaEdges || ctrl.schemaEdges.length === 0">
            No related edges
        </p>

        <div ng-repeat="edge in ctrl.schemaEdges">
            <md-checkbox
                    id="related-edge-{{edge}}"
                    ng-checked="ctrl.exists(ctrl.expandEdges, edge)"
                    ng-click="ctrl.toggle(edge, ctrl.expandEdges)">
                {{edge}}
            </md-checkbox>

            <div ng-show="ctrl.exists(ctrl.expandEdges, edge)">
                <table md-table
                       ng-show="ctrl.getEdgeProperties(edge)">
                    <tbody md-body>
                    <tr md-row ng-repeat="filter in ctrl.expandEdgesContent[edge].filters.preAggregation">
                        <td md-cell>
                            <md-input-container flex>
                                <label>Select a property</label>
                                <md-select id="{{edge}}-pre-property-selector"
                                           ng-model="filter.property"
                                           ng-change="ctrl.onSelectedPropertyChange(edge, filter)">
                                    <md-option ng-repeat="(name, type) in ctrl.getEdgeProperties(edge)" ng-value="name">{{name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </td>
                        <td md-cell>
                            <md-input-container flex>
                                <label>Select a predicate</label>
                                <md-select
                                        id="{{edge}}-pre-{{filter.property}}-predicate-selector"
                                        ng-model="filter.predicate"
                                        ng-change="ctrl.onSelectedFunctionChange(edge, filter)">
                                    <md-option ng-repeat="predicate in filter.availableFunctions" ng-value="predicate">{{predicate}}</md-option>
                                </md-select>
                            </md-input-container>
                        </td>

                        <td md-cell>
                            <div layout="row" layout-padding layout-align="center center">
                                <div layout="column" flex="50">
                                    <md-input-container ng-repeat="(idx, param) in filter.availableFunctionParameters">
                                        <label>{{param}}</label>
                                        <input type="text"
                                               id="{{edge}}-pre-{{filter.property}}-{{filter.predicate}}-{{param}}"
                                               ng-model="filter.parameters[idx]">
                                    </md-input-container>
                                </div>
                                <p ng-show="filter.availableFunctionParameters.length > 0 && filter.propertyClass" flex="50">
                                    You may need to
                                    explicitly
                                    tell Gaffer the type of
                                    the
                                    parameter, e.g:
                                    {"{{filter.propertyClass}}":
                                    value}
                                </p>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <md-button id="{{edge}}-add-pre-filter"
                           ng-click="ctrl.addFilterFunction(ctrl.expandEdgesContent, edge, true)"
                           ng-show="ctrl.getEdgeProperties(edge)">
                    Add Pre Aggregation filter
                </md-button>
                <table md-table
                       ng-show="ctrl.getEdgeProperties(edge)">
                    <tbody md-body>
                    <tr md-row ng-repeat="filter in ctrl.expandEdgesContent[edge].filters.postAggregation">
                        <td md-cell>
                            <md-input-container flex>
                                <label>Select a property</label>
                                <md-select id="{{edge}}-post-property-selector"
                                           ng-model="filter.property"
                                           ng-change="ctrl.onSelectedPropertyChange(edge, filter)">
                                    <md-option ng-repeat="(name, type) in ctrl.getEdgeProperties(edge)" ng-value="name">{{name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </td>
                        <td md-cell>
                            <md-input-container flex>
                                <label>Select a predicate</label>
                                <md-select
                                        id="{{edge}}-post-{{filter.property}}-predicate-selector"
                                        ng-model="filter.predicate"
                                        ng-change="ctrl.onSelectedFunctionChange(edge, filter)">
                                    <md-option ng-repeat="predicate in filter.availableFunctions" ng-value="predicate">{{predicate}}</md-option>
                                </md-select>
                            </md-input-container>
                        </td>

                        <td md-cell>
                            <div layout="row" layout-padding layout-align="center center">
                                <div layout="column" flex="50">
                                    <md-input-container ng-repeat="(idx, param) in filter.availableFunctionParameters">
                                        <label>{{param}}</label>
                                        <input type="text"
                                               id="{{edge}}-post-{{filter.property}}-{{filter.predicate}}-{{param}}"
                                               ng-model="filter.parameters[idx]">
                                    </md-input-container>
                                </div>
                                <p ng-show="filter.availableFunctionParameters.length > 0 && filter.propertyClass" flex="50">
                                    You may need to
                                    explicitly
                                    tell Gaffer the type of
                                    the
                                    parameter, e.g:
                                    {"{{filter.propertyClass}}":
                                    value}
                                </p>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <md-button id="{{edge}}-add-post-filter"
                           ng-click="ctrl.addFilterFunction(ctrl.expandEdgesContent, edge, false)"
                           ng-show="ctrl.getEdgeProperties(edge)">
                    Add Post Aggregation filter
                </md-button>
            </div>
        </div>
    </md-card-content>
</md-card>