<div layout="column">
    <h3 class="md-title section-title">Add Filters</h3>

    <named-views model="ctrl.model.namedViews"></named-views>
    <md-button ng-show="!ctrl.showBuilder" id="create-custom-filter" ng-click="ctrl.makeVisible()">Create custom filter</md-button>
    <md-button ng-show="ctrl.showBuilder" id="clear-custom-filter" ng-click="ctrl.clear()">Clear custom filter</md-button>

    <div ng-show="ctrl.showBuilder">
        <div layout="row" layout-padding>
            <md-input-container flex>
                <label>Only include these entity types</label>
                <md-select id="view-entities" class="no-ellipsis" multiple md-selected-text="ctrl.createViewElementsLabel(ctrl.model.viewEntities, 'entity types')"
                    ng-model="ctrl.model.viewEntities" ng-change="ctrl.onElementGroupChange('entity')"
                    data-md-container-class="searchable-select">
                    <md-select-header class="search-header">
                        <input ng-model="ctrl.entitySearchTerm" type="search" class="search-box md-text" placeholder="Search for an entity group...">
                    </md-select-header>
                    <md-option ng-value="entity" ng-repeat="(entity, detail) in ctrl.schemaEntities | schemaGroupFilter:ctrl.entitySearchTerm">
                        <div class="md-subhead">{{entity}}</div>
                        <div class="md-body-1">{{detail.description}}</div>
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <label>Only include these edge types</label>
                <md-select id="view-edges" class="no-ellipsis" multiple md-selected-text="ctrl.createViewElementsLabel(ctrl.model.viewEdges, 'edge types')"
                    ng-model="ctrl.model.viewEdges" ng-change="ctrl.onElementGroupChange('edge')"
                    data-md-container-class="searchable-select">
                    <md-select-header class="search-header">
                        <input ng-model="ctrl.edgeSearchTerm" type="search" class="search-box md-text" placeholder="Search for an edge group...">
                    </md-select-header>
                    <md-option ng-value="edge" ng-repeat="(edge, detail) in ctrl.schemaEdges | schemaGroupFilter:ctrl.edgeSearchTerm">
                        <div class="md-subhead">{{edge}}</div>
                        <div class="md-body-1">{{detail.description}}</div>
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <md-list>
            <div ng-repeat="entity in ctrl.model.viewEntities track by entity" ng-if="ctrl.getEntityProperties(entity)">
                <md-subheader class="transparent md-no-sticky">{{entity}} Filters
                </md-subheader>
                <md-list-item class="secondary-button-padding" ng-click="ctrl.editFilter(entity, 'entity', filter, $index)"
                    ng-repeat="filter in ctrl.model.entityFilters[entity] track by $index">
                    <p> {{ctrl.createFilterLabel(filter)}} </p>
                    <md-icon class="md-secondary" md-svg-icon="delete" id="delete-entity-{{entity}}-filter-{{$index}}"
                        ng-click="ctrl.deleteFilter(entity, 'entity', $index)" aria-label="delete filter"></md-icon>
                </md-list-item>
                <md-button class="no-text-transform" id="add-{{entity}}-filters" ng-click="ctrl.addFilters($event, entity, 'entity')">
                    Add {{entity}} Filters
                </md-button>
                <md-divider ng-hide="ctrl.noMore(entity)"></md-divider>
            </div>
            <div ng-repeat="edge in ctrl.model.viewEdges track by edge" ng-if="ctrl.getEdgeProperties(edge)">
                <md-subheader class="transparent md-no-sticky">{{edge}} Filters
                </md-subheader>
                <md-list-item class="secondary-button-padding" ng-click="ctrl.editFilter(edge, 'edge', filter, $index)"
                    ng-repeat="filter in ctrl.model.edgeFilters[edge] track by $index">
                    <p> {{ctrl.createFilterLabel(filter)}} </p>
                    <md-icon class="md-secondary" md-svg-icon="delete" id="delete-edge-{{edge}}-filter-{{$index}}"
                        ng-click="ctrl.deleteFilter(edge, 'edge', $index)" aria-label="delete filter"></md-icon>
                </md-list-item>
                <md-button class="no-text-transform" id="add-{{edge}}-filters" ng-click="ctrl.addFilters($event, edge, 'edge')">
                    Add {{edge}} Filters
                </md-button>
                <md-divider ng-hide="ctrl.noMore(edge)"></md-divider>
            </div>
        </md-list>
    </div>

</div>
