<div [hidden]="primaryInput">
  <div [ngSwitch]="primaryInput.className" [hidden]="!usePreviousOutput || secondaryInput">
    <div
      *ngSwitchCase="'uk.gov.gchq.gaffer.commonutil.pair.Pair<uk.gov.gchq.gaffer.data.element.id.ElementId,uk.gov.gchq.gaffer.data.element.id.ElementId>[]'">
      <app-pair-builder [model]="model.inputPairs" use-previous="usePreviousOutput"></app-pair-builder>
    </div>
    <div *ngSwitchDefault>
      <div fxLayout="row" fxLayoutAlign="start center" [hidden]="!usePreviousOutput">
        <h3 class="md-title no-margin">Add seeds</h3>
        <button mat-raised-button color="warn" id="use-results" (click)="useResults()" [disabled]="usePreviousOutput"
          matTooltip="Populate input using your existing results">
          Use results
        </button>
      </div>
      <div fxLayout="row">
        <app-seed-builder fxFlex="50%" [model]="model.input" use-previous="usePreviousOutput" route-param="input"
          flex="grow"></app-seed-builder>
        <app-seed-builder fxFlex="50%" [model]="model.inputB" *ngIf="secondaryInput" route-param="inputB" flex="grow">
        </app-seed-builder>
      </div>
    </div>
  </div>
</div>
