<div fxLayout="column" layout-margin>
  <form name="parameterForm" layout-margin>
    <!-- <h3 class="{{titleClass}}">{{title}}</h3> -->
    <div *ngIf="title == 'Parameters'">
      <div fxLayout="column">
        <div *ngFor="let params of parameters" flex="noshrink">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{params[0]}}</mat-label>
            <input matInput id="id" name="name" param="param">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div *ngIf="title != 'Parameters'">
      <div layout-wrap fxLayout="row">
        <div *ngFor="let params of parameters" flex="noshrink">
          <input matInput name="name" param="param" date-unit="getTimeUnit(name)">
        </div>
      </div>
    </div>
  </form>
</div>
