<div fxLayout="column" layout-margin>
  <form name="dynamicInputForm" layout-margin>
    <div fxLayout="column">
      <div *ngFor="let parameter of parameters | keyvalue" flex="noshrink">
        <div [ngSwitch]="parameter.value.userInputType">

          <!-- Iterable -->
          <div *ngSwitchCase="'iterable'">
            <mat-form-field class="example-full-width margin-top" appearance="fill">
              <mat-label>{{parameter.value.label}}</mat-label>
              <textarea matInput name="parameter.value.name" [placeholder]="parameter.value.label" id="parameter.value.label"
                [type]="parameter.value.userInputType" [(value)]="parameter.value.currentValue"
                (change)="onChange($event.target.value, parameter.key)"></textarea>
            </mat-form-field>
          </div>

          <!-- Date Picker -->
          <div *ngSwitchCase="'date'">
            <mat-form-field class="example-full-width margin-top" appearance="fill">
              <mat-label>{{parameter.value.label}}</mat-label>
              <input matInput [matDatepicker]="picker" name="parameter.value.name" [placeholder]="parameter.value.label"
                [(value)]="parameter.value.currentValue" (dateChange)="onChange($event.target.value, parameter.key)" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <!-- Checkbox -->
          <div *ngSwitchCase="'boolean'">
            <div class="demo-full-width margin-top">
              <input type="checkbox" name="parameter.value.name"
                (change)="onChange($event.target.checked, parameter.key)" id="parameter.value.label" [checked]="parameter.value.currentValue" />
              <mat-label>{{parameter.value.label}}</mat-label>
            </div>
          </div>

          <!-- Standard Input -->
          <div *ngSwitchDefault>
            <mat-form-field class="example-full-width margin-top" appearance="fill">
              <mat-label>{{parameter.value.label}}</mat-label>
              <input matInput name="parameter.value.name" [placeholder]="parameter.value.label" id="parameter.value.label"
                [type]="parameter.value.userInputType" [(value)]="parameter.value.currentValue"
                (change)="onChange($event.target.value, parameter.key)" />
            </mat-form-field>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>
