<md-sidenav-layout [class.m2app-dark]="isDarkTheme">
    <md-toolbar color="primary">
        Gaffer Schema Builder
        <span class="app-toolbar-filler"></span>
    </md-toolbar>
    <div class="mdTabs">
        <div>
            <ul class="tabs">
                <li class="tab col s3"><a href="#graph" (click)="changeTab('graph')">Graph</a></li>
                <li class="tab col s3"><a href="#properties" (click)="changeTab('properties')">Properties</a></li>
                <li class="tab col s3"><a href="#types" (click)="changeTab('types')">Types</a></li>
                <li class="tab col s3"><a href="#schema" (click)="changeTab('schema')">Schema</a></li>
            </ul>
        </div>
        <div id="graph"><app-graph *ngIf="tab === 'graph'"></app-graph></div>
        <div id="properties"><app-properties *ngIf="tab === 'properties'"></app-properties></div>
        <div id="types"><app-types *ngIf="tab === 'types'"></app-types></div>
        <div id="schema"><app-schema *ngIf="tab === 'schema'"></app-schema></div>
    </div>
</md-sidenav-layout>