<md-card layout-padding>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Add Options</span>
        </md-card-title-text>
    </md-card-title>

    <ng-form name="ctrl.optionsForm">
        <div layout="column">
            <div ng-repeat="opOption in ctrl.opOptionsArray">
                <md-input-container style="margin:5px 0">
                    <label>Key</label>
                    <md-select name="opOptionKey"
                               ng-model="opOption.key"
                               required
                               aria-label="operation option key picker"
                               md-on-close="ctrl.updateOpOptions()">
                        <md-option ng-value="value"
                                   ng-repeat="(key, value) in ctrl.getOpOptionKeys(opOption)"
                                   aria-label="{{key}}">
                            <div class="md-body-2">{{key}}</div>
                        </md-option>
                    </md-select>
                    <div class="md-errors-spacer"></div>
                </md-input-container>
                <md-input-container style="margin:5px 0">
                    <label>Value</label>
                    <input type="text"
                           ng-blur="ctrl.updateOpOptions()"
                           required
                           ng-model="opOption.value"
                           id="opOptionValue">
                </md-input-container>
                <md-button class="md-icon-button md-primary"
                           ng-click="ctrl.deleteOption(opOption)"
                           aria-label="Delete operation option">
                    <md-icon class="md-secondary"
                             md-svg-icon="delete"
                             aria-label="delete operation option">
                        <md-tooltip>Delete operation option</md-tooltip>
                    </md-icon>
                </md-button>
            </div>
            <div>
                <md-button class="md-primary"
                           aria-label="add operation option"
                           ng-click="ctrl.addOperationOption()">
                    Add Operation Option
                </md-button>
            </div>
        </div>
    </ng-form>
</md-card>