<div layout="column">
    <ng-form name="ctrl.seedForm">
        <md-input-container id="Multiple Seed input" class="md-block" flex md-no-float>
            <textarea id="seedVertices"
                      rows="6"
                      name="multiSeedInput"
                      md-no-autogrow
                      ng-disabled="ctrl.usePrevious"
                      ng-model="ctrl.seedVertices"
                      ng-blur="ctrl.addSeeds()"
                      placeholder="{{ctrl.getPlaceHolder()}}">
            </textarea>
            <div ng-messages="ctrl.seedForm.multiSeedInput.$error">
                <div ng-message="csv">Your CSV is invalid</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <md-checkbox id="forceSeedType" ng-model="ctrl.forceSeedType"
                         ng-change="ctrl.onCheckboxChange()"
                         aria-label="Override the default seed type handling">
                Override Seed Type
            </md-checkbox>
        </md-input-container>
        <md-input-container ng-if="ctrl.forceSeedType" class="md-block">
            <md-select ng-model="ctrl.seedType" required class="no-ellipsis" placeholder="Override seed type">
                <md-option ng-repeat="seedType in ctrl.seedTypes" ng-value="seedType.value">
                    {{ seedType.value }}
                </md-option>
            </md-select>
        </md-input-container>
    </ng-form>
</div>
