
<md-card>
  <md-input placeholder="Search for images" [formControl]="term"></md-input>
</md-card>
<md-grid-list cols="4" rowHeight="200px" style="margin: 20px" gutterSize="10px">
  <md-grid-tile *ngFor="let item of items | async">
      <img *ngIf="item.data.preview" src="{{item.data.preview.images[0].source.url}}" width="100%">
      <md-grid-tile-footer *ngIf="item.data.preview">
        <h3 md-line>{{item.data.title}}</h3>
        <span md-line>{{item.data.author}}</span>
        <button md-icon-button (click)="showDog(dog)">
          <md-icon>info</md-icon>
        </button>
      </md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>