<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [(opened)]="opened" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="routeActive" routerLink="/analytics">Analytics</a>
      <a mat-list-item routerLinkActive="routeActive" routerLink="/parameters">Parameters</a>
      <a mat-list-item routerLinkActive="routeActive" routerLink="/results">Results</a>
      <a mat-list-item routerLinkActive="routeActive" routerLink="/about">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">

      <button type="button" aria-label="Toggle sidenav" mat-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <!-- <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button> -->

      <span>Analytic UI</span>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
