<div ng-if="!(ctrl.useDatepicker && ctrl.dateUnit && ctrl.canUseDatePicker())" layout="column" layout-gt-md="row"
    layout-wrap layout-fill>
    <div ng-repeat="field in ctrl.getFields()" flex="{{ctrl.getFlexValue()}}" class="padding-sides">
        <div ng-if="'textarea' === field.type">
            <md-input-container class="content">
                <label>{{ctrl.name}} {{field.label}}</label>
                <textarea ng-required="ctrl.isRequired(field)" type="{{field.type}}" id="{{ctrl.name}}-{{field.label}}-ta"
                    rows="2" ng-model="ctrl.param.parts[field.key]"></textarea>
            </md-input-container>
        </div>
        <div ng-if="'checkbox' === field.type" layout-margin>
            <md-checkbox ng-if="ctrl.isRequired(field)" ng-model="ctrl.param.parts[field.key]" id="required-{{ctrl.name}}-{{field.label}}-cb"
                required>
                {{ctrl.name}} {{field.label}}
            </md-checkbox>
            <md-checkbox ng-if="!ctrl.isRequired(field)" ng-model="ctrl.param.parts[field.key]" id="{{ctrl.name}}-{{field.label}}-cb">
                {{ctrl.name}} {{field.label}}
            </md-checkbox>
        </div>
        <div ng-if="ctrl.options">
            <md-input-container class="content small-input-container">
                <label>{{ctrl.name}} {{field.label}}</label>
                <md-select class="no-ellipsis" ng-model="ctrl.param.parts[field.key]">
                    <md-option ng-value="option" ng-repeat="option in ctrl.options">
                        {{option}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div ng-if="!ctrl.options && 'checkbox' !== field.type && 'textarea' !== field.type">
            <md-input-container class="content small-input-container">
                <label>{{ctrl.name}} {{field.label}}</label>
                <input ng-required="ctrl.isRequired(field)" type="{{field.type}}" id="{{ctrl.name}}-{{field.label}}"
                    ng-model="ctrl.param.parts[field.key]">
            </md-input-container>
        </div>
        <md-tooltip md-direction="bottom" ng-if="ctrl.param.description">
            {{ctrl.param.description}}
        </md-tooltip>
    </div>
</div>
<div ng-if="ctrl.useDatepicker && ctrl.dateUnit && ctrl.canUseDatePicker()">
    <dynamic-date-picker unit="ctrl.dateUnit" param="ctrl.param" name="ctrl.name"></dynamic-date-picker>
</div>
