<ng-form name="ctrl.dateForm">
    <div layout="row" flex>
        <md-input-container>
            <label>{{ctrl.name}}</label>
            <md-datepicker name="date" ng-model="ctrl.date" ng-change="ctrl.onUpdate()" md-date-locale="ctrl.localeProviderOverride"></md-datepicker>
        </md-input-container>
        <md-input-container>
            <md-select name="timeSelect" ng-hide="ctrl.showTime" ng-model="ctrl.selectedTime" ng-change="ctrl.onUpdate()" placeholder="At what time?" required md-no-asterisk>
                <md-option ng-repeat="time in ctrl.availableTimes" ng-value="time">{{time}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container ng-if="ctrl.showTime">
            <md-icon md-svg-icon="schedule"></md-icon>
            <input name="time" ng-model="ctrl.time" ng-model-options="{ timezone: 'UTC', updateOn: 'blur' }" step="1" type="time" ng-change="ctrl.onUpdate()"/>
        </md-input-container>
    </div>
</ng-form>