<div style="margin-left:110px">
  <h1>Analytics</h1>
  <mat-form-field>
    <input matInput [(ngModel)]="analyticFilter.analyticName" placeholder="Search analytics">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sort by:</mat-label>
    <mat-select [(value)]="order">
      <mat-option value="None">---Select---</mat-option>
      <mat-option value="analyticName">A-Z Analytic Name</mat-option>
      <mat-option value="operationName">A-Z Operation Name</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <button mat-flat-button (click)="reverseAnalytics()">SORT REVERSE</button> -->
</div>

<mat-card style="min-height: 300px;" gutterSize="3vw">
  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let analytic of analytics | orderBy: order :reverse | filterBy: analyticFilter">
      <app-analytic [model]="analytic"></app-analytic>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
