@import '~@angular/material/core/theming/all-theme';

// NOTE: Theming is currently experimental and not yet publically released!

@include md-core();

$primary: md-palette($md-cyan);
$accent:  md-palette($md-lime, A200, A100, A400);
$warn:    md-palette($md-red);

$header:  md-palette($md-grey);

$theme: md-light-theme($primary, $accent);

@include angular-material-theme($theme);

.m2app-dark {
  $dark-primary: md-palette($md-pink, 700, 500, 900);
  $dark-accent:  md-palette($md-blue-grey, A200, A100, A400);
  $dark-warn:    md-palette($md-deep-orange);

  $dark-theme: md-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);

  .mdTabs.m2app-dark  > .md-tab-header {
    background-color: md-color($dark-primary, 900) !important;
    color: md-color($dark-primary, default-contrast) !important;
  }

  .mdTabs.m2app-dark > * > md-ink-bar{
    background-color: md-color($dark-accent, A400) !important;
  }
}

.mdTabs > .md-tab-header {
  background-color: md-color($primary, 700) !important;
  color: md-color($primary, default-contrast) !important;
}

md-ink-bar {
  background-color: md-color($accent, A400);
  height: 4px !important;
}

.card-header {
  background-color: md-color($primary, 800);
}

.content-card-header {
  background-color: md-color($primary, 800);
}
