<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Parameters</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <table md-table id="parameters">
            <thead md-head>
            <tr md-row>
                <th md-column>
                    Name
                </th>
                <th md-column>
                    Description
                </th>
                <th md-column>
                    Required
                </th>
                <th md-column>
                    Value
                </th>
            </tr>
            </thead>
            <tbody md-body>
            <tr ng-repeat="(name, detail) in ctrl.getSelectedOp().parameters" md-row>
                <td md-cell>
                    {{name}}
                </td>
                <td md-cell>
                    {{detail.description}}
                </td>
                <td md-cell>
                    {{detail.required}}
                </td>
                <td md-cell>
                    <div layout="column" layout-align="center stretch" ng-repeat="field in ctrl.getFields(detail.valueClass)">
                        <md-input-container>
                            <label>{{field.label}}</label>
                            <input id="param-{{name}}-{{field.key}}"
                                   type="{{field.type}}"
                                   step="{{field.step}}"
                                   ng-model="detail.parts[field.key]"/>
                        </md-input-container>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </md-card-content>
</md-card>