<div layout="column">
    <ng-form name="ctrl.parameterForm" layout-padding>
        <h3 class="{{ctrl.titleClass}}">{{ctrl.title}}</h3>
        <div layout="column">
            <div ng-repeat="(name, param) in ctrl.parameters" layout="row">
                <div ng-repeat="field in ctrl.getFields(param.valueClass)" layout-fill layout-padding>
                    <md-input-container ng-if="ctrl.isRequired(field, param)" layout-fill>
                        <label>{{name}} {{field.label}}</label>
                        <input required
                               id="{{name}}-{{field.key}}-required"
                               name="{{name}}-{{field.label}}"
                               type="{{field.type}}"
                               md-select-on-focus
                               ng-model="param.parts[field.key]">
                        <md-tooltip md-direction="top">{{param.description}}</md-tooltip>
                        <div ng-messages="ctrl.parameterForm[name + '-' + field.label].$error">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                    <md-input-container layout-fill ng-if="!ctrl.isRequired(field, param)">
                        <label>{{name}} {{field.label}}</label>
                        <input name="{{name}}-{{field.label}}"
                               id="{{name}}-{{field.key}}"
                               type="{{field.type}}"
                               md-select-on-focus
                               ng-model="param.parts[field.key]">
                        <md-tooltip md-direction="top">{{param.description}}</md-tooltip>
                    </md-input-container>
                </div>
            </div>
        </div>
    </ng-form>
</div>
