<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span [routerLink]="['/analytics']">Analytic UI</span>
    <button mat-icon-button [routerLink]="['/analytics']" aria-label="Go back to analytics">
      <svg viewBox="0 0 24 24" width="24" height="24" fill="#fff">
        <path
          d="M 12 2.0996094 L 1 12 L 4 12 L 4 21 L 10 21 L 10 14 L 14 14 L 14 21 L 20 21 L 20 12 L 23 12 L 12 2.0996094 z" />
      </svg>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
