.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  top: 0;
  z-index: 1;
  background: #67598c;
  color: #fff;
}

span {
  cursor: pointer;
}

button {
  cursor: pointer;
  margin-left: 10px;
}
