<div>
  <h1 style="margin-left:110px">
    About
  </h1>
  <mat-card>
    <mat-card-title>
      <mat-icon>info</mat-icon>
    </mat-card-title>
    <mat-card-content>
      <p ng-bind-html="description"></p>
      <p><a id="about-rest-api" href="http://localhost:8080/rest">Take a look at the REST
          API</a>
      </p>
      <p><a id="about-docs" href="https://gchq.github.io/gaffer-doc/">Take a look at the
          documentation</a></p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <div style="margin-top:30px">
      <button mat-raised-button (click)='sendFeedback("example@", "Angular UI feedback", "Type your email here")'>Send
        feedback</button>
    </div>
  </mat-card>
</div>
