<div style="flex-direction: row">
  <div style="flex:100" flex-offset-gt-sm="20" flex-gt-sm="60">
    <h1 layout-align="center- start">
          About
    </h1>
    <mat-card>
      <mat-card-title>
        <mat-icon>info</mat-icon>
      </mat-card-title>
        <!-- <mat-spinner class="md-primary" diameter="40">
        </mat-spinner> -->
      <mat-card-content>
        <p ng-bind-html="ctrl.description"></p>
        <p ng-show="ctrl.restAPI"><a id="about-rest-api" target="_blank" href="{{ctrl.restAPI}}">Take a look at the REST
            API</a>
        </p>
        <p ng-show="ctrl.docs"><a id="about-docs" target="_blank" href="{{ctrl.docs}}">Take a look at the
            documentation</a></p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <div>
        <button mat-raised-button ng-click="ctrl.sendFeedback()">Send feedback</button>
      </div>
    </mat-card>
  </div>
</div>
