<div>
  <h1>Parameters</h1>
</div>
<form name="operationChainForm">
  <mat-card>
    <app-query model="operation" index="$index" time-config="timeConfig" on-delete="deleteOperation(index)"
      on-reset="resetOperation(index)" on-execute="execute(op)" chain-length="operations.length">
    </app-query>
    <mat-divider></mat-divider>
    <div>
      <mat-icon>expand_more</mat-icon>
    </div>
  </mat-card>
  <div fxLayout="row">
    <button mat-raised-button color="primary" ng-click="resetChain($event)">Reset
      operation
      chain</button>
    <button mat-raised-button color="primary" ng-disabled="!canExecute()" id="execute-chain"
      ng-click="executeChain()">Execute operation
      chain</button>
  </div>
</form>
