.form-row {
    display: flex;
    flex-flow: row wrap;
}

.type-tile {
    overflow: auto;
}

.type-edit-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.type-title-buttons {
    position: absolute;
    top: 25px;
    right: 25px;
}