<md-dialog-content>

    <md-toolbar class="md-theme-light">
        <div class="md-toolbar-tools">
            <md-card-header-text>
                <md-card-avatar>
                    <md-icon md-svg-icon="import-export"></md-icon>
                </md-card-avatar>
                <span class="md-title">Import or Export Results</span>
            </md-card-header-text>
        </div>
    </md-toolbar>

    <div class="md-dialog-content">
        <md-card>
            <md-list class="layout-column">
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <p>Import your results from a saved Gaffer JSON file.</p>
                    </div>
                    <span flex="10"/>
                    <md-button class="md-primary md-raised md-list-item-text" aria-label="import results"
                               ng-click="import()">
                        Import
                    </md-button>
                </md-list-item>

                <md-list-item class="md-1-line">
                    <input type="file" id="import-results-file" name="file" ng-model="importFilename"/>
                </md-list-item>
            </md-list>

            <md-subheader class="md-no-sticky"/>

            <md-list class="layout-column">
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <p>Export your results to a Gaffer JSON file.</p>
                    </div>
                    <span flex="10"/>
                    <md-button class="md-primary md-raised md-list-item-text" aria-label="export results"
                               ng-click="export()">
                        Export
                    </md-button>
                </md-list-item>
            </md-list>
        </md-card>
    </div>

</md-dialog-content>
