<md-dialog-content>
    <div class="md-dialog-content">
        <md-card-avatar>
            <md-icon md-svg-icon="import-export"></md-icon>
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">Import or Export Results</span>
        </md-card-header-text>

        <md-list class="layout-column">
            <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                    <p>Import your results from a Gaffer JSON file.</p>
                    <input type="file" id="import-results-file" name="file" ng-model="importFilename"/>
                </div>
                <md-button class="md-primary md-raised md-list-item-text" aria-label="import results"
                           ng-click="import()">
                    Import
                </md-button>
            </md-list-item>

            <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                    <p>Export your results to a Gaffer JSON file.</p>
                </div>
                <md-button class="md-primary md-raised md-list-item-text" aria-label="export results"
                           ng-click="export()">
                    Export
                </md-button>
            </md-list-item>
        </md-list>

    </div>
</md-dialog-content>
