h1 {
  color: #597e8c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2 {
  color: #8c6759;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
  padding: 0;
  margin: 0;
}

h3 {
  color: #7e8c59;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125%;
}

h4 {
  color: #67598c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125%;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

div {
  padding: 5;
}

mat-card {
  max-width: 80%;
  height: auto;
  margin: 2em auto;
  text-align: center;
  display: flex;
}
