<div style="margin-left:110px">
  <h1>Table</h1>
  <mat-form-field>
    <mat-label>Columns To Display</mat-label>
    <mat-select [formControl]="columns" multiple>
      <mat-option *ngFor="let column of columnsToDisplay" [value]="column.display">{{column|uppercase}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- Dynamic Table -->

<mat-card>
  <div class="example-container">
    <mat-table [dataSource]="data.results" matSort>

      <ng-container [matColumnDef]="column" *ngFor="let column of columnsToDisplay">
        <ng-template [ngIf]="true">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <h3>{{ column | uppercase }}</h3>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
        </ng-template>
      </ng-container>


      <mat-header-row *matHeaderRowDef="columnsToDisplay;">
      </mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay;">
      </mat-row>
    </mat-table>
  </div>
</mat-card>
