<div layout="column">
    <div layout="row" flex layout-padding>
        <md-input-container flex layout-fill>
            <label>Vertex Type</label>
            <md-select
                    ng-model="ctrl.seedVertexType"
                    id="vertexType">
                <md-option ng-repeat="vertexType in ctrl.getSchemaVertices()" ng-value="vertexType">{{vertexType}}</md-option>
            </md-select>
        </md-input-container>
        <div layout="column" layout-align="start">
            <md-switch class="md-primary" md-no-ink aria-label="Multiple Seeds" ng-model="ctrl.multipleSeeds">
                Multiple seeds
            </md-switch>
        </div>
    </div>
    <div layout="row" layout-padding flex>
        <div flex ng-show="!ctrl.multipleSeeds" ng-repeat="field in ctrl.getFields()">
            <md-input-container id="field.label" flex layout-fill>
                <label>{{field.label}}</label>
                <input id="seedVertex{{field.key}}"
                       type="{{field.type}}"
                       step="{{field.step}}"
                       ng-model="ctrl.seedVertexParts[field.key]"/>
            </md-input-container>
        </div>
        <md-input-container id="Multiple Seed input" ng-show="ctrl.multipleSeeds" flex layout-fill md-no-float>
            <textarea id="seedVertices"
                      rows="5"
                      md-detect-hidden
                      ng-model="ctrl.seedVertices"
                      placeholder="Enter your seeds, each seed on a new line.
                  {{ctrl.getCsvHeader()}}
                  ">
            </textarea>
        </md-input-container>
        <div layout="column" layout-align="end" layout-margin layout-padding>
            <md-button class="md-icon-button md-primary" ng-disabled="!ctrl.inputExists()" aria-label="add seeds" id="add-seeds" ng-click="ctrl.addSeeds()">
                <md-icon md-svg-icon="add"></md-icon>
            </md-button>
        </div>
    </div>
</div>