<md-dialog aria-label="Seed Builder">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Seed</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content form-group">
                <label for="vertexType">Vertex:</label>
                <select class="form-control"
                        ng-model="ctrl.seedVertexType"
                        ng-options="vertexType as vertexType for vertexType in ctrl.getSchemaVertices()"
                        id="vertexType">
                </select>

                <div ng-show="!ctrl.multipleSeeds">
                    <div ng-repeat="type in ctrl.getTypes()">
                        <label for="seedVertex{{type.key}}">{{type.label}}:</label>
                        <input id="seedVertex{{type.key}}"
                               type="{{type.type}}"
                               step="{{type.step}}"
                               class="form-control"
                               ng-model="seedVertexParts[type.key]"/>
                    </div>
                </div>

                <div ng-show="ctrl.multipleSeeds">
                        <textarea id="seedVertices"
                                  class="form-control"
                                  ng-model="seedVertices"
                                  placeholder="Enter your seeds, each seed on a new line.
                                  {{ctrl.getCsvHeader()}}
                                  ">
                        </textarea>
                </div>

                <br/>
                <input id="multi-seed-checkbox" type="checkbox"
                       ng-model="ctrl.multipleSeeds">
                <label for="multi-seed-checkbox">Multiple seeds?</label>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button id="cancel" ng-click="ctrl.cancel()">
                Cancel
            </md-button>
            <md-button id="add-seeds" ng-click="ctrl.submitSeeds()">
                Add
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>