<div style="margin-left:110px">
  <h1>Table</h1>
</div>

<mat-card>
  <mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <!-- <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef>
        <h3>No.</h3>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container> -->

    <!-- Name Column -->
    <ng-container matColumnDef="junction">
      <mat-header-cell *matHeaderCellDef>
        <h3>Junction</h3>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.junction}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="freq">
      <mat-header-cell *matHeaderCellDef>
        <h3>Frequency</h3>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.freq}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="vehicle">
      <mat-header-cell *matHeaderCellDef>
        <h3>Vehicle Type</h3>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.vehicle}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <!-- <div ng-cloak layout="column" layout-align=" stretch">
    <table id="results-table" class="compact">
      <thead>
        <tr>
          <th ng-repeat="col in data.columns">
            {{col}}
          </th>
          <th>
            Header
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="result in (filteredResults = (data.results | orderBy:getValue() | filter:searchTerm)) | limitTo: pagination.limit: (pagination.page - 1) * pagination.limit">
          <td ng-repeat="col in data.columns">
            {{result[col]}}
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->
</mat-card>
