<script>
  // Trying to make all of the background colors different
  function setBackgroundColor() {
    id = ctrl.model.name;
    var elem = document.getElementById(id);
    elem.style.backgroundColor = ctrl.model.backgroundColor;
  }
  window.onload = setBackgroundColor;

</script>
<div id={{ctrl.model.name}} ng-click="ctrl.execute(ctrl.model.operation)" class="grid-button" md-ink-ripple>
  <mat-card>
    <mat-card-header>
      <p class="tooltip">Description</p>
      <h1 layout-align="center- start" class="tooltiptext">
        {{ctrl.model.operation.description}}
      </h1>

    </mat-card-header>
  </mat-card>
</div>
