<script>
  // Trying to make all of the background colors different
  function setBackgroundColor() {
    id = ctrl.model.name;
    var elem = document.getElementById(id);
    elem.style.backgroundColor = ctrl.model.backgroundColor;
  }
  window.onload = setBackgroundColor;

</script>
<mat-card id={{ctrl.model.name}} ng-click="ctrl.execute(ctrl.model.operation)" class="grid-button" md-ink-ripple>
  <div layout="column">
    <h2>{{ctrl.model.name}}</h2>
    <h2>ANALYTIC</h2>
    <mat-icon>{{ctrl.model.icon}}</mat-icon>
    <div layout="row" layout-align="start end">
      <p class="tooltip">Description
        <span class="tooltiptext">{{ctrl.model.operation.description}}</span>
      </p>
    </div>
  </div>
</mat-card>
