<md-content layout-padding layout-margin>
    <div class="container">
        <div class="panelHeading">
            <h3>Settings</h3>
        </div>

        <div layout="column">
            <md-input-container>
                <label>Default result limit</label>
                <input type="number" step="1" class="form-control" ng-model="ctrl.resultLimit"
                       id="resultLimit" ng-blur="ctrl.updateResultLimit()">
            </md-input-container>

            <md-input-container>
                <label>Default operation</label>
                <input type="text" ng-blur="ctrl.updateDefaultOp()" class="form-control" ng-model="ctrl.defaultOp"
                       id="defaultOp">
            </md-input-container>
        </div>
    </div>
</md-content>