<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Add Date filter</span>
        </md-card-title-text>
    </md-card-title>
    <ng-form name="ctrl.dateForm">
        <div layout="row">
            <md-input-container>
                <label>Start Date</label>
                <md-datepicker ng-model="ctrl.start" name="start" ng-change="ctrl.onStartDateUpdate()"></md-datepicker>
                <div ng-messages="ctrl.dateForm.start.$error">
                    <div ng-message="valid">The start date entered is not a date.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>End Date</label>
                <md-datepicker ng-model="ctrl.end" name="end" ng-change="ctrl.onEndDateUpdate()"></md-datepicker>
                <div ng-messages="ctrl.dateForm.end.$error">
                    <div ng-message="valid">The end date entered is not a date.</div>
                </div>
            </md-input-container>
        </div>
    </ng-form>
</md-card>