<div [hidden]="primaryInput">
  <mat-checkbox *ngIf="!first" [(ngModel)]="usePreviousOutput" (change)="onCheckboxChange()"
    aria-label="use output from previous operation">
    Use output from previous operation
  </mat-checkbox>
  <div [ngSwitch]="primaryInput.className" [hidden]="!usePreviousOutput || secondaryInput">
    <div *ngSwitchCase="uk.gov.gchq.gaffer.commonutil.pair.Pair">
      <app-pair-builder [(ngModel)]="[(ngModel)].inputPairs" use-previous="usePreviousOutput"></app-pair-builder>
    </div>
    <div *ngSwitchDefault>
      <div fxLayout="row" fxLayoutAlign="start center" [hidden]="!usePreviousOutput">
        <h3 class="md-title no-margin">Add seeds</h3>
        <button mat-raised-button color="warn" id="use-results" (click)="useResults()" [disabled]="usePreviousOutput"
          matTooltip="Populate input using your existing results">
          Use results
        </button>
      </div>
      <div fxLayout="row">
        <app-seed-builder fxFlex="50%" [(ngModel)]="[(ngModel)].input" use-previous="usePreviousOutput"
          route-param="input" flex="grow"></app-seed-builder>
        <app-seed-builder fxFlex="50%" [(ngModel)]="[(ngModel)].inputB" *ngIf="secondaryInput" route-param="inputB"
          flex="grow">
        </app-seed-builder>
      </div>
    </div>
  </div>
</div>
