<div ng-show="primaryInput" ng-cloak>
  <mat-checkbox ng-if="!first" ng-model="usePreviousOutput" ng-change="onCheckboxChange()"
    aria-label="use output from previous operation">
    Use output from previous operation
  </mat-checkbox>
  <div ng-switch="primaryInput.className" ng-show="!usePreviousOutput || secondaryInput">
    <div
      ng-switch-when="uk.gov.gchq.gaffer.commonutil.pair.Pair<uk.gov.gchq.gaffer.data.element.id.ElementId,uk.gov.gchq.gaffer.data.element.id.ElementId>[]">
      <app-pair-builder model="model.inputPairs" use-previous="usePreviousOutput"></app-pair-builder>
    </div>
    <div ng-switch-default>
      <div fxLayout="row" layout-align="start center" ng-show="!usePreviousOutput">
        <h3 class="md-title no-margin">Add seeds</h3>
        <button mat-button-raised id="use-results" ng-click="useResults()" ng-disabled="usePreviousOutput"
          matTooltip="Populate input using your existing results">
          Use results
        </button>
      </div>
      <div fxLayout="row">
        <app-seed-builder fxFlex="50%" model="model.input" use-previous="usePreviousOutput"
          route-param="input" flex="grow"></app-seed-builder>
        <app-seed-builder fxFlex="50%" model="model.inputB" ng-if="secondaryInput" route-param="inputB"
          flex="grow">
        </app-seed-builder>
      </div>
    </div>
  </div>
</div>
