<div style="padding: 15px;">
    <div class="row">
        <div class="col s12 m10 offset-m1 l10 offset-l1">
            <md-card>
                <md-card-title>Functions</md-card-title>
                <md-card-content>
                    <pre><code>{{functions | json}}</code></pre>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title>Common Types</md-card-title>
                <md-card-content>
                    <pre><code>{{commonTypes | json}}</code></pre>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title>Data Schema</md-card-title>
                <md-card-content>
                    <pre><code>{{dataSchema | json}}</code></pre>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title>Data Types</md-card-title>
                <md-card-content>
                    <pre><code>{{dataTypes | json}}</code></pre>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title>Store Types</md-card-title>
                <md-card-content>
                    <pre><code>{{storeTypes | json}}</code></pre>
                </md-card-content>
            </md-card>

            <pre>{{validation | json}}</pre>
        </div>
    </div>
</div>