<ng-form name="ctrl.dateForm">
  <div fxLayout="row" layout-align="start center">
    <h3 class="mat-title no-margin">Inclusive time range (UTC)</h3>
  </div>

  <div layout-gt-lg="row" fxLayout="column">

    <div fxLayout="row">

      <button mat-button-raised class="mat-icon-button no-side-margin" ng-click="$matMenu.open($event)"
        matTooltip="Use presets for start date" [matMenuTriggerFor]="menu">
        <mat-icon>list</mat-icon>
      </button>
      <mat-menu #menu="matMenu" ng-if="ctrl.presets" class="icon-inline-with-input">
        <button mat-button ng-click="ctrl.updateStartDate(value)" ng-repeat="(name, value) in ctrl.presets">
          {{ name }}
        </button>
      </mat-menu>

      <input matInput [matDatepicker]="startPicker" placeholder="Choose a start date - YYYY-MM-DD">
      <mat-datepicker-toggle matSuffix [for]="startPicker">
        <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #startPicker ng-model="ctrl.startDate" name="startDate" id="start-date"
        ng-change="ctrl.onStartDateUpdate()" mat-date-locale="ctrl.localeProviderOverride"></mat-datepicker>
      <div ng-messages="ctrl.dateForm.startDate.$error">
        <div *ngIf="ctrl.dateForm.startDate.$error">
          The start date entered is invalid.
          Use YYYY-MM-DD format
        </div>
      </div>

      <input matInput ng-model="ctrl.startTime"
        ng-model-options="{ timezone: 'UTC', updateOn: 'default blur', debounce: { 'default': 500,'blur': 0}}"
        aria-label="start time (hh:mm:ss)" ng-disabled="!ctrl.startDate" type="time" id="start-time" step="1"
        name="startTime" ng-change="ctrl.onStartDateUpdate()">

      <div ng-messages="ctrl.dateForm.startTime.$error">
        <div *ngIf="ctrl.dateForm.startTime.$error">
          The start time is invalid. Use format
          hh:mm:ss
        </div>
      </div>
    </div>

    <div fxLayout="row">

      <button mat-button class="mat-icon-button no-side-margin" ng-click="$matMenu.open($event)"
        matTooltip="Use presets for end date" [matMenuTriggerFor]="menu">
        <mat-icon>list</mat-icon>
      </button>
      <mat-menu #menu="matMenu" ng-if="ctrl.presets" class="icon-inline-with-input">
        <button mat-button ng-click="ctrl.updateEndDate(value)" ng-repeat="(name, value) in ctrl.presets">
          {{ name }}
        </button>
      </mat-menu>

      <input matInput [matDatepicker]="endPicker" placeholder="Choose a end date - YYYY-MM-DD">
      <mat-datepicker-toggle matSuffix [for]="startPicker">
        <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #startPicker ng-model="ctrl.endDate" name="endDate" id="end-date"
        ng-change="ctrl.onEndDateUpdate()" mat-date-locale="ctrl.localeProviderOverride"></mat-datepicker>
      <div ng-messages="ctrl.dateForm.endDate.$error">
        <div *ngIf="ctrl.dateForm.endDate.$error">
          The end date entered is invalid.
          Use YYYY-MM-DD format
        </div>
      </div>

      <input matInput ng-model="ctrl.endTime"
        ng-model-options="{ timezone: 'UTC', updateOn: 'default blur', debounce: { 'default': 500,'blur': 0}}"
        aria-label="end time (hh:mm:ss)" ng-disabled="!ctrl.endDate" type="time" id="end-time" step="1" name="endTime"
        ng-change="ctrl.onEndDateUpdate()">
      <div ng-messages="ctrl.dateForm.endTime.$error">
        <div *ngIf="ctrl.dateForm.endTime.$error">
          The end time is invalid. Use format
          hh:mm:ss
        </div>
      </div>


    </div>
  </div>
</ng-form>
