<div>
  <h3>Inclusive time range (UTC)</h3>
</div>

<form name="dateForm">
  <div fxLayout="column">
    <div fxLayout="row">
      <button mat-icon-button class="mat-icon-button no-side-margin" (click)="$matMenu.open($event)"
        matTooltip="Use presets for start date" [matMenuTriggerFor]="menu">
        <i class="material-icons">list</i>
        <!-- <mat-icon>list</mat-icon> -->
      </button>
      <mat-menu #menu="matMenu" ng-if="presets" class="icon-inline-with-input">
        <button mat-button (click)="updateStartDate(value)" ng-repeat="(name, value) in presets">
          {{ name }}
        </button>
      </mat-menu>
      <mat-form-field>
        <input matInput [matDatepicker]="startPicker" placeholder="Start date - YYYY-MM-DD">
        <mat-datepicker-toggle matSuffix [for]="startPicker">
          <!-- <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon> -->
          <i class="material-icons" matDatepickerToggleIcon>calendar_today</i>
        </mat-datepicker-toggle>
        <mat-datepicker #startPicker startView="year" [startAt]="startDate" ng-model="startDate" name="startDate"
          id="start-date" ng-change="onStartDateUpdate()" mat-date-locale="localeProviderOverride">
        </mat-datepicker>
      </mat-form-field>
      <div ng-messages="dateForm.startDate.$error">
        <div *ngIf="dateForm.startDate.$error">
          The start date entered is invalid.
          Use YYYY-MM-DD format
        </div>
      </div>

      <input matInput ng-model="startTime"
        ng-model-options="{ timezone: 'UTC', updateOn: 'default blur', debounce: { 'default': 500,'blur': 0}}"
        aria-label="start time (hh:mm:ss)" ng-disabled="!startDate" type="time" id="start-time" step="1"
        name="startTime" ng-change="onStartDateUpdate()">

      <div ng-messages="dateForm.startTime.$error">
        <div *ngIf="dateForm.startTime.$error">
          The start time is invalid. Use format
          hh:mm:ss
        </div>
      </div>
    </div>

    <div fxLayout="row">

      <button type="button" aria-label="open end date presets" mat-icon-button class="mat-icon-button no-side-margin"
        (click)="$matMenu.open($event)" matTooltip="Use presets for end date" [matMenuTriggerFor]="menu">
        <i class="material-icons">list</i>
        <!-- <mat-icon>list</mat-icon> -->
      </button>
      <mat-menu #menu="matMenu" ng-if="presets" class="icon-inline-with-input">
        <button mat-icon-button (click)="updateEndDate(value)" ng-repeat="(name, value) in presets">
          {{ name }}
        </button>
      </mat-menu>

      <mat-form-field>
        <input matInput [matDatepicker]="endPicker" placeholder="End date - YYYY-MM-DD">
        <mat-datepicker-toggle matSuffix [for]="endPicker">
          <!-- <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon> -->
          <i class="material-icons" matDatepickerToggleIcon>calendar_today</i>
        </mat-datepicker-toggle>
        <mat-datepicker #endPicker startView="year" [startAt]="endDate" ng-model="endDate" name="endDate" id="end-date"
          ng-change="onEndDateUpdate()" mat-date-locale="localeProviderOverride()">
        </mat-datepicker>
      </mat-form-field>
      <div ng-messages="dateForm.endDate.$error">
        <div *ngIf="dateForm.endDate.$error">
          The end date entered is invalid.
          Use YYYY-MM-DD format
        </div>
      </div>

      <input matInput ng-model="endTime"
        ng-model-options="{ timezone: 'UTC', updateOn: 'default blur', debounce: { 'default': 500,'blur': 0}}"
        aria-label="end time (hh:mm:ss)" ng-disabled="!endDate" type="time" id="end-time" step="1" name="endTime"
        ng-change="onEndDateUpdate()">
      <div ng-messages="dateForm.endTime.$error">
        <div *ngIf="dateForm.endTime.$error">
          The end time is invalid. Use format
          hh:mm:ss
        </div>
      </div>


    </div>
  </div>
</form>
