<md-card>
    <md-button ng-click="ctrl.onClick()" class="no-margin">
        <md-card-title>
            <md-card-title-text class="no-text-transform">
                {{ctrl.name}}
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="center center">
            <md-button class="md-icon-button" ng-click="ctrl.onDelete()">
                <md-icon md-svg-icon="delete"></md-icon>
                <md-tooltip md-direction="down">Remove operation from chain</md-tooltip>
            </md-button>
        </md-card-actions>
    </md-button>
</md-card>
