<md-dialog aria-label="Add Seed">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Seed</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content form-group">
                <label for="vertexType">Vertex:</label>
                <select class="form-control"
                        ng-model="addSeedVertexType"
                        ng-options="vertexType as vertexType for vertexType in rawData.schemaVertices"
                        id="vertexType">
                </select>

                <div ng-show="!addMultipleSeeds">
                    <div ng-repeat="type in settings.getType(rawData.schema.types[addSeedVertexType].class).types">
                        <label for="addSeedVertex{{type.key}}">{{type.label}}:</label>
                        <input id="addSeedVertex{{type.key}}"
                               type="{{type.type}}"
                               step="{{type.step}}"
                               class="form-control"
                               ng-model="addSeedVertexParts[type.key]"/>
                    </div>
                </div>

                <div ng-show="addMultipleSeeds">
                    <textarea id="addSeedVertices"
                              class="form-control"
                              ng-model="addSeedVertices"
                              placeholder="Enter your seeds, each seed on a new line.
                              {{settings.getType(rawData.schema.types[addSeedVertexType].class).csvHeader}}
                              ">
                    </textarea>
                </div>

                <br/>
                <input id="multi-seed-checkbox" type="checkbox"
                       ng-model="addMultipleSeeds">
                <label for="multi-seed-checkbox">Multiple seeds?</label>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button id="add-seed-cancel" ng-click="addSeedCancel()">
                Cancel
            </md-button>
            <md-button id="add-seed-confirm" ng-click="addSeedAdd()">
                Add
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>