<md-dialog aria-label="Build Query" class="fullWidthDialog">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Build Operation</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-tabs md-dynamic-height md-border-bottom
                         md-selected="buildQuery.step">
                    <md-tab label="Choose operation"
                            ng-disabled="buildQuery.step != 0">
                        <md-content class="md-padding">
                            <h3>Select operation</h3>

                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                </tr>
                                <tr ng-repeat="op in rawData.availableOps"
                                    ng-click="buildQuery.onSelectedOpChange(op)">
                                    <td>
                                        {{op.name}}
                                    </td>
                                    <td>
                                        {{op.description}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </md-content>
                    </md-tab>

                    <md-tab label="Configure Operation"
                            ng-disabled="buildQuery.step != 1">
                        <md-content class="md-padding">
                            <div ng-show="buildQuery.selectedOp.input">
                                <h3>
                                    Selected seeds
                                    <button id="select-all-seeds"
                                            ng-click="graph.selectAllNodes()"
                                            class="btn btn-default">
                                        Select all
                                    </button>
                                </h3>

                                <p ng-repeat="(vertex, entities) in selectedEntities">
                                    {{vertex}}
                                </p>

                                <p ng-show="!selectedEntities || selectedEntities.length == 0">
                                    No seeds selected.
                                </p>
                            </div>

                            <div ng-show="buildQuery.selectedOp.parameters">
                                <label for="parameters">Parameters</label>

                                <table id="parameters"
                                       class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Required
                                        </th>
                                        <th>
                                            Value
                                        </th>
                                    </tr>
                                    <tr ng-repeat="(name, detail) in buildQuery.selectedOp.parameters">
                                        <td>
                                            {{name}}
                                        </td>
                                        <td>
                                            {{detail.description}}
                                        </td>
                                        <td>
                                            {{detail.required}}
                                        </td>
                                        <td>
                                            <div ng-repeat="type in settings.getType(detail.valueClass).types">
                                                <label for="param-{{name}}-{{type.key}}">{{type.label}}:</label>
                                                <input id="param-{{name}}-{{type.key}}"
                                                       type="{{type.type}}"
                                                       step="{{type.step}}"
                                                       class="form-control"
                                                       ng-model="detail.parts[type.key]"/>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div ng-show="buildQuery.selectedOp.view">
                                <h3>Configure View</h3>

                                <p>
                                    If you don't select any Entities or Edges
                                    then all Entities and Edges will be
                                    returned.
                                </p>

                                <h4>Entities</h4>

                                <p ng-show="!relatedEntities || relatedEntities.length === 0">
                                    No related entities
                                </p>

                                <div ng-repeat="entity in relatedEntities">
                                    <md-checkbox id="related-entity-{{entity}}"
                                                 ng-checked="buildQuery.exists(entity, buildQuery.expandEntities)"
                                                 ng-click="buildQuery.toggle(entity, buildQuery.expandEntities)">
                                        {{entity}}
                                    </md-checkbox>

                                    <div ng-show="exists(entity, buildQuery.expandEntities)">
                                        <table class="table table-striped no-bottom-border"
                                               ng-show="rawData.entityProperties(entity)">
                                            <tbody>
                                            <tr ng-repeat="filter in expandEntitiesContent[entity].filters">
                                                <td>
                                                    <select id="{{entity}}-property-selector"
                                                            class="form-control"
                                                            ng-model="filter.property"
                                                            ng-options="name as name for (name, type) in rawData.entityProperties(entity)"
                                                            ng-change="onSelectedPropertyChange(entity, filter)">
                                                        <option value=""
                                                                disabled
                                                                selected>
                                                            Select a property
                                                        </option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control"
                                                            ng-model="filter.predicate"
                                                            ng-options="predicate as predicate for predicate in filter.availableFunctions"
                                                            ng-change="buildQuery.onSelectedFunctionChange(entity, filter)">
                                                        <option value=""
                                                                disabled
                                                                selected>
                                                            Select a predicate
                                                        </option>
                                                    </select>
                                                </td>

                                                <td>
                                                    <div ng-repeat="(idx, param) in filter.availableFunctionParameters">
                                                        <p class="inline">
                                                            {{param}}:</p>
                                                        <input type="text"
                                                               class="form-control inline"
                                                               ng-model="filter.parameters[idx]">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div ng-show="filter.availableFunctionParameters.length > 0 && filter.propertyClass">
                                                        You may need to
                                                        explicitly
                                                        tell Gaffer the type of
                                                        the
                                                        parameter, e.g:
                                                        {"{{filter.propertyClass}}":
                                                        value}
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <button id="{{entity}}-add-filter"
                                                ng-click="buildQuery.addFilterFunction(buildQuery.expandEntitiesContent, entity)"
                                                class="btn btn-default"
                                                ng-show="rawData.entityProperties(entity)">
                                            Add filter
                                        </button>
                                    </div>
                                </div>


                                <h4>Edges</h4>

                                <p ng-show="!relatedEdges || relatedEdges.length === 0">
                                    No related edges
                                </p>

                                <div ng-repeat="edge in relatedEdges">
                                    <md-checkbox id="related-edge-{{edge}}"
                                                 ng-checked="buildQuery.exists(edge, buildQuery.expandEdges)"
                                                 ng-click="buildQuery.toggle(edge, buildQuery.expandEdges)">
                                        {{edge}}
                                    </md-checkbox>

                                    <div ng-show="exists(edge, buildQuery.expandEdges)">
                                        <table class="table table-striped no-bottom-border"
                                               ng-show="rawData.edgeProperties(edge)">
                                            <tbody>
                                            <tr ng-repeat="filter in buildQuery.expandEdgesContent[edge].filters">
                                                <td>
                                                    <select id="{{edge}}-property-selector"
                                                            class="form-control"
                                                            ng-model="filter.property"
                                                            ng-options="name as name for (name, type) in rawData.edgeProperties(edge)"
                                                            ng-change="buildQuery.onSelectedPropertyChange(edge, filter)">
                                                        <option value=""
                                                                disabled
                                                                selected>
                                                            Select a property
                                                        </option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="{{edge}}-{{filter.property}}-predicate-selector"
                                                            class="form-control"
                                                            ng-model="filter.predicate"
                                                            ng-options="predicate as predicate for predicate in filter.availableFunctions"
                                                            ng-change="buildQuery.onSelectedFunctionChange(edge, filter)">
                                                        <option value=""
                                                                disabled
                                                                selected>
                                                            Select a predicate
                                                        </option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <div ng-repeat="(idx, param) in filter.availableFunctionParameters">
                                                        <p class="inline">
                                                            {{param}}:</p>
                                                        <input id="{{edge}}-{{filter.property}}-{{filter.predicate}}-{{param}}"
                                                               type="text"
                                                               class="form-control inline"
                                                               ng-model="filter.parameters[idx]">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div ng-show="filter.availableFunctionParameters.length > 0 && filter.propertyClass">
                                                        You may need to
                                                        explicitly
                                                        tell Gaffer the type of
                                                        the
                                                        parameter, e.g:
                                                        {"{{filter.propertyClass}}":
                                                        value}
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <button id="{{edge}}-add-filter"
                                                ng-click="buildQuery.addFilterFunction(expandEdgesContent, edge)"
                                                class="btn btn-default"
                                                ng-show="rawData.edgeProperties(edge)">
                                            Add filter
                                        </button>
                                    </div>
                                </div>
                            </div>


                            <div ng-show="buildQuery.selectedOp.inOutFlag">
                                <h3>Other options</h3>

                                <label for="inOutFlag"
                                       ng-show="buildQuery.selectedOp.inOutFlag">In
                                    Out
                                    Edges</label>

                                <div id="inOutFlag"
                                     ng-show="buildQuery.selectedOp.inOutFlag">
                                    <md-radio-group
                                            ng-model="buildQuery.inOutFlag"
                                            ng-change="buildQuery.onInOutFlagChange(inOutFlag)">
                                        <md-radio-button value="INCOMING">
                                            Incoming
                                        </md-radio-button>
                                        <md-radio-button value="OUTGOING">
                                            Outgoing
                                        </md-radio-button>
                                        <md-radio-button value="EITHER">
                                            Either
                                        </md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>

                    <md-tab label="Execute"
                            ng-disabled="buildQuery.step != 2">
                        <md-content class="md-padding">
                            <p ng-show="!buildQuery.expandQueryCounts && buildQuery.selectedOp.arrayOutput">
                                Calculating number of results...
                            </p>

                            <div ng-show="buildQuery.expandQueryCounts">
                                <p ng-show="buildQuery.expandQueryCounts.limitHit">
                                    The number of results may exceed
                                    limit of {{settings.resultLimit}}.
                                    Only the first {{settings.resultLimit}}
                                    results will be used.
                                </p>

                                <p ng-show="!buildQuery.expandQueryCounts.limitHit">
                                    Number of results will be:
                                    {{buildQuery.expandQueryCounts.count}}
                                </p>
                            </div>

                        </md-content>
                    </md-tab>
                </md-tabs>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="buildQuery.cancel()"
                       class="btn btn-default">
                Cancel
            </md-button>
            <md-button ng-show="buildQuery.step != 0"
                       ng-click="buildQuery.goToPrevStep()"
                       class="btn btn-default">
                Back
            </md-button>
            <md-button id="build-query-next"
                       ng-show="buildQuery.step == 1"
                       ng-click="buildQuery.goToNextStep()"
                       class="btn btn-primary">
                Next
            </md-button>
            <md-button id="build-query-execute"
                       ng-show="buildQuery.step == 2"
                       ng-click="buildQuery.execute()"
                       class="btn btn-primary">
                Execute
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>