<md-card layout-fill class="content">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>
                <span>Selected Elements</span>
            </h3>
        </div>
    </md-toolbar>
    <md-content layout-padding class="transparent">
        <div ng-repeat="(vertex, entities) in ctrl.selectedEntities">
            <h3>{{ctrl.resolveVertex(vertex)}}</h3>

            <p ng-show="!entities.length || !entities[0].group">No entities</p>
            <table md-table
                   ng-show="entities.length && entities[0].group">
                <tbody md-body>
                <tr md-row ng-repeat="entity in entities">
                    <td md-cell>
                        {{entity.group}}
                        <md-tooltip md-direction="top">{{ctrl.schema.entities[entity.group].description}}</md-tooltip>
                    </td>
                    <td md-cell>
                        <p ng-repeat="(key, value) in entity.properties">
                            {{key}}: {{ctrl.resolve(key, value)}}
                            <md-tooltip md-direction="top">{{ctrl.schema.types[ctrl.schema.entities[entity.group].properties[key]].description}}</md-tooltip>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-repeat="(id, edges) in ctrl.selectedEdges">
            <h3>{{ctrl.resolveVertex(edges[0].source)}} to {{ctrl.resolveVertex(edges[0].destination)}}</h3>
            <table md-table>
                <tbody md-body>
                <tr md-row ng-repeat="edge in edges">
                    <td md-cell>
                        {{edge.group}}
                        <md-tooltip md-direction="top">{{ctrl.schema.edges[edge.group].description}}</md-tooltip>
                    </td>
                    <td md-cell>
                        <p ng-repeat="(key, value) in edge.properties">
                            {{key}}: {{ctrl.resolve(key, value)}}
                            <md-tooltip md-direction="top">{{ctrl.schema.types[ctrl.schema.edges[edge.group].properties[key]].description}}</md-tooltip>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </md-content>
</md-card>
