<md-sidenav-layout [class.m2app-dark]="isDarkTheme">
    <md-toolbar color="primary">
        Gaffer Schema Builder
        <span class="app-toolbar-filler"></span>
        <!--<button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>-->
    </md-toolbar>
    <div class="row" class="mdTabs">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#graph" (click)="changeTab('graph')">Graph</a></li>
                <li class="tab col s3"><a href="#types" (click)="changeTab('types')">Types</a></li>
                <li class="tab col s3"><a href="#schema" (click)="changeTab('schema')">Schema</a></li>
            </ul>
        </div>
        <div id="graph" class="col s12"><app-graph *ngIf="tab === 'graph'"></app-graph></div>
        <div id="types" class="col s12"><app-types *ngIf="tab === 'types'"></app-types></div>
        <div id="schema" class="col s12"><app-schema *ngIf="tab === 'schema'"></app-schema></div>
    </div>
</md-sidenav-layout>