<div layout-margin ng-show="ctrl.primaryInput" ng-cloak>
    <md-checkbox ng-if="!ctrl.isFirst()" ng-model="ctrl.usePreviousOutput" ng-change="ctrl.onCheckboxChange()" aria-label="use output from previous operation">
        Use output from previous operation
    </md-checkbox>
    <div ng-switch="ctrl.primaryInput">
        <div ng-switch-when="uk.gov.gchq.gaffer.commonutil.pair.Pair">
            <pair-builder use-previous="ctrl.usePreviousOutput"></pair-builder>
        </div>
        <div ng-switch-default> <!-- Will match new 'ElementId', or older true value -->
            <div layout="row" layout-align="start center">
                <h3 class="no-margin">Add seeds or select all from the graph</h3>
                <md-button id="select-all-seeds"
                           ng-click="ctrl.selectAllSeeds()"
                           ng-disabled="ctrl.usePreviousOutput"
                           class="md-primary">
                        Select All
                    <md-tooltip md-direction="right">Select all seeds in the graph</md-tooltip>
                </md-button>
            </div>
            <div layout="row">
                <seed-builder update-event="ctrl.primaryEvent" use-previous="ctrl.usePreviousOutput" setter="ctrl.setPrimary" getter="ctrl.getPrimary" route-param="input" flex="grow"></seed-builder>
                <seed-builder ng-if="ctrl.secondaryInput" update-event="ctrl.secondaryEvent" setter="ctrl.setSecondary" getter="ctrl.getSecondary" route-param="inputB" flex="grow"></seed-builder>
            </div>
        </div>
    </div>
</div>
