<div layout-fill class="container">
    <div ng-cloak layout-fill>
        <md-content layout-fill>
            <md-tabs layout-fill md-max-height md-border-bottom
                     md-selected="ctrl.selectedTab">
                <md-tab label="Entities">
                    <md-content class="md-padding">
                        <input ng-model="ctrl.searchTerm" type="text"
                               class="form-control"
                               placeholder="Search vertices and properties">

                        <div ng-repeat="(group, schemaEntity) in ctrl.schema.entities">
                            <div ng-show="ctrl.data.entities[group].length > 0">
                                <h4><b>{{group}}</b></h4>
                                <table id="entity-{{group}}-table-elements"
                                       class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <th>
                                            <a href="#"
                                               ng-click="sortType = 'vertex'; sortReverse = !sortReverse">
                                                Vertex
                                                <span ng-show="sortType === 'vertex' && !sortReverse"
                                                      class="caret"></span>
                                                <span ng-show="sortType === 'vertex' && sortReverse"
                                                      class="caret caret-up"></span>
                                            </a>
                                        </th>
                                        <th ng-repeat="(name, type) in schemaEntity.properties">
                                            {{name}}
                                        </th>
                                    </tr>
                                    <tr ng-repeat="entity in ctrl.data.entities[group] | orderBy:sortType:sortReverse | filter:ctrl.searchTerm">
                                        <td>
                                            {{entity.vertex}}
                                        </td>
                                        <td ng-repeat="(name, type) in schemaEntity.properties">
                                            {{entity.properties[name]}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Edges">
                    <md-content class="md-padding">
                        <input ng-model="ctrl.searchTerm" type="text"
                               class="form-control"
                               placeholder="Search vertices and properties">

                        <div ng-repeat="(group, schemaEdge) in ctrl.schema.edges">
                            <div ng-show="ctrl.data.edges[group].length > 0">
                                <h4><b>{{group}}</b></h4>
                                <table id="edge-{{group}}-table-elements"
                                       class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <th>
                                            <a href="#"
                                               ng-click="sortType = 'source'; sortReverse = !sortReverse">
                                                Source
                                                <span ng-show="sortType === 'source' && !sortReverse"
                                                      class="caret"></span>
                                                <span ng-show="sortType === 'source' && sortReverse"
                                                      class="caret caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a href="#"
                                               ng-click="sortType = 'destination'; sortReverse = !sortReverse">
                                                Destination
                                                <span ng-show="sortType === 'destination' && !sortReverse"
                                                      class="caret"></span>
                                                <span ng-show="sortType === 'destination' && sortReverse"
                                                      class="caret caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a href="#"
                                               ng-click="sortType = 'directed'; sortReverse = !sortReverse">
                                                Directed
                                                <span ng-show="sortType === 'directed' && !sortReverse"
                                                      class="caret"></span>
                                                <span ng-show="sortType === 'directed' && sortReverse"
                                                      class="caret caret-up"></span>
                                            </a>
                                        </th>
                                        <th ng-repeat="(name, type) in schemaEdge.properties">
                                            {{name}}
                                        </th>
                                    </tr>
                                    <tr ng-repeat="edge in ctrl.data.edges[group] | orderBy:sortType:sortReverse | filter:ctrl.searchTerm">
                                        <td>
                                            {{edge.source}}
                                        </td>
                                        <td>
                                            {{edge.destination}}
                                        </td>
                                        <td>
                                            {{edge.directed}}
                                        </td>
                                        <td ng-repeat="(name, type) in schemaEdge.properties">
                                            {{edge.properties[name]}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Seeds">
                    <md-content class="md-padding">
                        <input ng-model="ctrl.searchTerm" type="text"
                               class="form-control"
                               placeholder="Search vertices and properties">

                        <h4><b>{{group}}</b></h4>
                        <table id="seeds-result-table"
                               class="table table-striped">
                            <tbody>
                            <tr>
                                <th>
                                    <a href="#"
                                       ng-click="sortType = 'vertex'; sortReverse = !sortReverse">
                                        Vertex
                                                <span ng-show="sortType === 'vertex' && !sortReverse"
                                                      class="caret"></span>
                                                <span ng-show="sortType === 'vertex' && sortReverse"
                                                      class="caret caret-up"></span>
                                    </a>
                                </th>
                            </tr>
                            <tr ng-repeat="vertex in ctrl.data.entitySeeds | orderBy:sortType:sortReverse | filter:ctrl.searchTerm"
                                ng-class="{'selected': ctrl.selectedSeeds.indexOf(vertex) > - 1}">
                                <td>
                                    {{vertex}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-content>
                </md-tab>

                <md-tab label="Other">
                    <md-content class="md-padding">
                        <input ng-model="searchTerm" type="text"
                               class="form-control"
                               placeholder="Search vertices and properties">

                        <h4><b>{{group}}</b></h4>
                        <table id="other-result-table"
                               class="table table-striped">
                            <tbody>
                            <tr>
                                <th>
                                    <a href="#"
                                       ng-click="sortType = 'value'; sortReverse = !sortReverse">
                                        Value
                                                <span ng-show="sortType === 'value' && !sortReverse"
                                                      class="caret"></span>
                                                <span ng-show="sortType === 'value' && sortReverse"
                                                      class="caret caret-up"></span>
                                    </a>
                                </th>
                            </tr>
                            <tr ng-repeat="other in ctrl.data.other | orderBy:sortType:sortReverse | filter:searchTerm">
                                <td>
                                    {{other}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-content>
                </md-tab>

            </md-tabs>
        </md-content>
    </div>
</div>