<form #e="ngForm" novalidate materialize class="col s12">
    <div class="form-group">
        <div class="row">
            <div class="col s12 m12 l12 row" style="padding: 0;">
                <div class="input-field col s12 m6 l12" style="padding: 0;">
                    <select id="source" materialize="material_select" [materializeSelectOptions]="nodeOptions" (change)="changeEdge($event.target.value, 'from')">
                        <option *ngFor="let node of nodeOptions" [value]="node.id" [selected]="node.id === _edge.from">{{node.label}}</option>
                    </select>
                    <label>Source</label>
                </div>
                <div class="input-field col s12 m6 l12" style="padding: 0;">
                    <select id="destination" materialize="material_select" [materializeSelectOptions]="nodeOptions" (change)="changeEdge($event.target.value, 'to')">
                        <option *ngFor="let node of nodeOptions" [value]="node.id" [selected]="node.id === _edge.to">{{node.label}}</option>
                    </select>
                    <label>Destination</label>
                </div>
                <div class="input-field col s12 m4 l12" style="padding: 0;">
                    <input class="form-control" type="text" name="label" placeholder="Edge name" [(ngModel)]="_edge.label">
                    <label>Name</label>
                </div>
                <div class="input-field col s12 m4 l12" style="padding: 0;">
                    <select id="destination" materialize="material_select" (change)="changeEdge($event.target.value, 'arrows')">
                        <option value="to" [selected]="_edge.arrows === 'to'">True</option>
                        <option value="none" [selected]="_edge.arrows !== 'to'">False</option>
                    </select>
                    <label>Directed</label>
                </div>
                <div class="row">
                    <div class="col s2">
                        <button md-raised-button color="accent" (click)="addNewProperty();" class="button-spacing">
                            Add Property
                        </button>
                    </div>
                </div>
            
                <div class="row" *ngFor="let property of _edge.properties">
                    <h5 style="margin-left: 10px; font-size: 16pt">{{property.name}}</h5>
                    <div class="input-field col s6 m6 l12">
                        <input class="form-control" type="text" name="{{property.id}}Name" placeholder="Property name" [(ngModel)]="property.name">
                        <label>Property Name</label>
                    </div>
                    <div class="input-field col s6 m6 l12">
                        <select id="{{property.id}}Type" materialize="material_select" [materializeSelectOptions]="_storedTypes" (change)="property.type = $event.target.value">
                            <option *ngFor="let type of _storedTypes" [value]="type.type" [selected]="property.type === type.type">{{type.type}}</option>
                        </select>
                        <label>Property Type</label>
                    </div>
                </div>
            </div>
            <button class="form-button" type="submit" (click)="save(e.value, e.valid)" md-raised-button color="primary">Update</button>
        </div>
    </div>
</form>