<div layout="row" layout-padding flex>
    <md-card flex ng-show="ctrl.model.selectedOperation">
        <form name="ctrl.operationForm">
            <div layout="row">
                <div layout="column" flex="45"> <!-- left column -->
                    <operation-selector model="ctrl.model.selectedOperation"></operation-selector>
                    <input-manager first="ctrl.first" primary-input="ctrl.model.selectedOperation.input" secondary-input="ctrl.model.selectedOperation.inputB" model="ctrl.model.inputs"></input-manager>
                </div>
                <div layout="column" flex="55"> <!-- right column -->
                    <date-range ng-if="ctrl.timeConfig && ctrl.model.selectedOperation.view" model="ctrl.model.dates" conf="ctrl.timeConfig"></date-range>
                    <parameter-form ng-if="ctrl.model.selectedOperation.parameters" title-class="layout-padding section-title" parameters="ctrl.model.selectedOperation.parameters"></parameter-form>
                    <view-builder ng-show="ctrl.model.selectedOperation.view" model="ctrl.model.view" ></view-builder>
                    <directionality-picker ng-show="ctrl.model.selectedOperation.inOutFlag" model="ctrl.model.edgeDirection"></directionality-picker>
                    <options-form ng-show="ctrl.showOperationOptionsForm" model="ctrl.model.opOptions"></options-form>
                </div>
            </div>
        </form>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="ctrl.resetQuery()" id="reset-query">reset query</md-button>
            <md-button ng-if="ctrl.onExecute" ng-click="ctrl.execute()" id="Execute Query" ng-disabled="!ctrl.canExecute()" class="md-primary">Execute operation</md-button>
        </md-card-actions>
    </md-card>        
</div>