<parameter-form
        ng-if="ctrl.model.selectedOperation.parameters"
        title-class="layout-padding section-title"
        parameters="ctrl.model.selectedOperation.parameters">
</parameter-form>

<dynamic-input
        ng-if="ctrl.name !== 'options' && ctrl.name !== 'seedMatching' && ctrl.name !== 'view' && ctrl.name !== 'views'"
        name="ctrl.title"
        param="ctrl.param"
        options="ctrl.details.options">
</dynamic-input>

<options-form ng-if="ctrl.name === 'options'"
              model="ctrl.model.fields[options]">
</options-form>

