<md-card ng-class="{closed: !ctrl.model.expanded}">
    <md-list-item class="md-2-line" flex ng-click="ctrl.toggleExpanded()">
        <div class="md-list-item-text">
            <h3>{{ctrl.model.selectedOperation.name}}</h3>

            <h3 ng-show="!ctrl.model.selectedOperation.name">
                Operation
            </h3>

            <p>{{ctrl.model.selectedOperation.description}}</p>
        </div>
        <md-button ng-if="!ctrl.model.expanded"
                   class="md-secondary md-icon-button"
                   ng-click="ctrl.toggleExpanded()">
            <md-icon md-svg-icon="down-arrow"></md-icon>
            <md-tooltip>Show more</md-tooltip>
        </md-button>
        <md-button ng-if="ctrl.model.expanded"
                   class="md-secondary md-icon-button"
                   ng-click="ctrl.toggleExpanded()">
            <md-icon md-svg-icon="up-arrow"></md-icon>
            <md-tooltip>Show less</md-tooltip>
        </md-button>
        <md-menu class="md-secondary">
            <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
                <md-icon md-menu-origin md-svg-icon="more-vert"></md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-hide="ctrl.isStandalone()">
                    <md-button ng-click="ctrl.delete()">
                        Remove operation
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="ctrl.reset()">
                        Reset operation
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-if="ctrl.canExecute()">
                    <md-button ng-click="ctrl.execute()">
                        Execute operation
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-list-item>
    <div class="operation-content" ng-show="ctrl.model.expanded">
        <form name="ctrl.operationForm">
            <md-divider></md-divider>
            <div layout="row" layout-padding>
                <!-- first column -->
                <div layout="column" flex="auto">
                    <operation-selector
                        model="ctrl.model.selectedOperation"
                        previous="ctrl.model.previous">
                    </operation-selector>
                    <input-manager first="ctrl.isFirst()"
                        primary-input="ctrl.model.selectedOperation.fields.input"
                        secondary-input="ctrl.model.selectedOperation.fields.inputB"
                        model="ctrl.model.fields">
                    </input-manager>
                    <div ng-if="ctrl.model.selectedOperation.fields.view">
                        <view-builder model="ctrl.model.fields.view">
                        </view-builder>
                        <md-checkbox
                                ng-model="ctrl.model.fields.view.summarise"
                                layout-padding>
                            Summarise
                        </md-checkbox>
                    </div>
                </div>
                <!-- second column -->
                <div layout="column" flex="50">
                    <date-range
                            ng-if="ctrl.timeConfig && ctrl.model.selectedOperation.fields.view"
                            model="ctrl.model.dates"
                            conf="ctrl.timeConfig">
                    </date-range>
    
                    <parameter-form
                            ng-if="ctrl.model.selectedOperation.parameters"
                            title-class="layout-padding md-title section-title"
                            parameters="ctrl.model.selectedOperation.parameters">
                    </parameter-form>
                    
                    <options ng-if="ctrl.model.selectedOperation.fields.options" model="ctrl.model.fields.options"></options>

                    <div ng-if="ctrl.hasOtherConfig()">
                        <h3 class="section-title md-title">
                            Configuration
                        </h3>
    
                        <div ng-repeat="(name, field) in ctrl.getConfigFields()">
                            <operation-field model="ctrl.model" details="field">
                            </operation-field>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</md-card>
