<form name="ctrl.operationChainForm">
    <div ng-repeat="operation in ctrl.operations" class="operation">
        <operation model="operation" index="$index" time-config="ctrl.timeConfig" on-delete="ctrl.deleteOperation(index)" on-reset="ctrl.resetOperation(index)" on-execute="ctrl.execute(op)" chain-length="ctrl.operations.length"></operation>
        <div layout="row" layout-align="center" ng-if="ctrl.isNotLast($index)">
            <md-icon md-svg-icon="arrow-downward"></md-icon>
        </div>
    </div>
</form>
<div layout="row" layout-align="center">
    <md-button class="md-fab md-mini overlapping-fab" ng-click="ctrl.addOperation()">
        <md-icon md-svg-icon="add"></md-icon>
        <md-tooltip>Add a new operation to the chain</md-tooltip>
    </md-button>
</div>
<div layout="row" layout-align="space-between">
    <div>
        <md-button ng-click="ctrl.resetChain($event)">Reset operation chain</md-button>
    </div>
    <div>
        <md-button ng-disabled="!ctrl.canExecute()" id="save-chain" ng-click="ctrl.toggleSideNav()">Save operation chain</md-button>
        <md-button class="md-primary md-raised" ng-disabled="!ctrl.canExecute()" id="execute-chain" ng-click="ctrl.executeChain()">Execute operation chain</md-button>
    </div> 
</div>
<save-sidenav named-operation="ctrl.namedOperation" on-save="ctrl.saveChain()" on-close="ctrl.toggleSideNav()"></save-sidenav>
