<div>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Seed Pair</mat-label>
    <textarea matInput 
      id="pairs-input" 
      rows="6" 
      name="seedPairInput" 
      floatPlaceholder="never" 
      md-no-autogrow
      [disabled]="usePrevious" 
      [(ngModel)]="pairs"
      (blur)="addPairs()"
      placeholder="{{getPlaceHolder()}}">
    </textarea>
    <div *ngIf="pairForm?.seedPairInput.$error">
      Your CSV is invalid
    </div>
  </mat-form-field>
</div>
