<div class="title">
  <h1>Parameters for {{analytic.analyticName}}</h1>
</div>
<form name="parameterPageForm" #parameterPageForm="ngForm">
  <mat-card>
    <app-query [model]="analytic">
    </app-query>
  </mat-card>
  <div fxLayout="row" fxLayoutAlign="end none" class="execute">
    <mat-progress-spinner *ngIf="loading" class="spinner" [color]="color" [mode]="mode" [diameter]="40">
    </mat-progress-spinner>
    <button mat-raised-button color="primary" id="execute-analytic" (click)="executeAnalytic(analytic)"
      aria-label="Execute analytic">EXECUTE
    </button>
  </div>
</form>
