<div style="margin-left:110px">
  <h1>Parameters for {{ operation }}</h1>
</div>
<form name="operationChainForm" #operationChainForm="ngForm" >
  <mat-card>
    <app-query [model]="analytic" index="$index" time-config="timeConfig" on-delete="deleteOperation(index)"
      on-reset="resetOperation(index)" on-execute="execute(op)" chain-length="operations.length">
    </app-query>
    <mat-divider></mat-divider>
    <div style="margin-top:10px">
      <mat-icon>expand_more</mat-icon>
    </div>
  </mat-card>
  <div style="margin-right:110px" fxLayout="row" fxLayoutAlign="end none">
    <!-- <button mat-raised-button color="primary" (click)="resetChain($event)">Reset
      operation
      chain</button> -->
    <button mat-raised-button color="primary" [disabled]="!canExecute()" id="execute-chain" (click)="results()">Execute
      operation
      chain</button>
  </div>
</form>
