<div style="padding: 15px;">
    <div class="row">
        <div class="col s12 m10 offset-m1 l10 offset-l1">
            <h4 style="font-size: 16pt;">Edges</h4>
            <md-card *ngIf="!edges || edges.length === 0">
                <md-card-content>
                    <div>
                        <md-list dense>
                            <md-list-item>
                                <h3 md-line><b>No edges</b></h3>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-card-content>
            </md-card>
            <md-card *ngFor="let edge of edges" style="margin-bottom: 20px;">
                <div class="content-card-header">
                    <md-card-title>{{edge.label}}</md-card-title>
                    <div class="properties-edit-button row">
                        <button md-mini-fab (click)="edge.editing = true;" *ngIf="!edge.editing" class="button-spacing">
                            <md-icon class="md-16">edit</md-icon>
                        </button>
                    </div>
                </div>
                <md-card-content *ngIf="!edge.editing">
                    <div *ngIf="!edge.properties || edge.properties.length === 0">
                        <md-list dense>
                            <md-list-item>
                                <h3 md-line><b>No properties</b></h3>
                            </md-list-item>
                        </md-list>
                    </div>
                    <div *ngIf="edge.properties && edge.properties.length > 0">
                        <md-list dense>
                            <md-list-item *ngFor="let property of edge.properties">
                                <h3 md-line><b>{{property.name}}</b></h3>
                                <p md-line>{{property.type}}</p>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-card-content>
                <md-card-content *ngIf="edge.editing" style="overflow: auto;">
                    <app-property-form [propertyHolder]="edge" (holderChange)="edgePropertiesChanged($event)"></app-property-form>
                </md-card-content>
            </md-card>
            <div class="row">
                <div class="col s10">
                    <h4 style="font-size: 16pt;">Entities</h4>
                </div>
                <div class="col s2" style="text-align: right; padding-top: 5px;">
                    <button md-raised-button color="accent" (click)="addNewEntity();" class="button-spacing">
                        Add Entity
                    </button>
                </div>
            </div>
            <md-card *ngIf="!nodes || nodes.length === 0">
                <md-card-content>
                    <div>
                        <md-list dense>
                            <md-list-item>
                                <h3 md-line><b>No entities</b></h3>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-card-content>
            </md-card>
            <span *ngFor="let node of nodes">
                <md-card *ngFor="let entity of node.entities" style="margin-bottom: 20px;">
                    <div class="content-card-header">
                        <md-card-title>{{entity.name}}</md-card-title>
                        <div class="properties-edit-button row">
                            <button md-mini-fab (click)="entity.editing = true;" *ngIf="!entity.editing" class="button-spacing">
                                <md-icon class="md-16">edit</md-icon>
                            </button>
                        </div>
                    </div>
                    <md-card-content *ngIf="!entity.editing">
                        <div *ngIf="!entity.properties || entity.properties.length === 0">
                            <md-list dense>
                                <md-list-item>
                                    <h3 md-line><b>No properties</b></h3>
                                </md-list-item>
                            </md-list>
                        </div>
                        <div *ngIf="entity.properties && entity.properties.length > 0">
                            <md-list dense>
                                <md-list-item *ngFor="let property of entity.properties">
                                    <h3 md-line><b>{{property.name}}</b></h3>
                                    <p md-line>{{property.type}}</p>
                                </md-list-item>
                            </md-list>
                        </div>
                    </md-card-content>
                    <md-card-content *ngIf="entity.editing" style="overflow: auto;">
                        <app-property-form [propertyHolder]="entity" (holderChange)="entityPropertiesChanged($event)"></app-property-form>
                    </md-card-content>
                </md-card>
            </span>
        </div>
    </div>
</div>