<form name="ctrl.operationForm">
    <div layout="row">
        <md-input-container class="layout-fill">
            <md-select name="name"
                       id="operation-name"
                       ng-model="ctrl.selectedOp"
                       md-selected-text="ctrl.getLabel()"
                       required
                       aria-label="operation picker"
                       md-on-close="ctrl.updateModel()">
                <md-option ng-value="op" ng-repeat="op in ctrl.availableOperations" aria-label="{{op.name}}">
                    <div layout="row" layout-align="space-between center">
                        <span>{{op.name}}</span>
                        <md-icon class="standalone-icon" flex="nogrow" md-svg-icon="info" title="{{op.description}}"></md-icon>
                    </div>
                </md-option>
            </md-select>
            <div class="errors" ng-messages="ctrl.operationForm.name.$error">
                <div ng-message="required">Required</div>
            </div>
        </md-input-container>
        <md-button class="md-icon-button" ng-click="ctrl.showOperationInfo($event)" ng-disabled="ctrl.operationForm.$invalid">
            <md-tooltip>More Info</md-tooltip>
            <md-icon md-svg-icon="help"></md-icon>
        </md-button>
    </div>
</form>