[ng-click] {
    cursor: pointer;
}

html body {
    height: 100%;
    width: 100%;
}

ng-view {
    height: 100%;
    width: 100%;
}

.title {
    margin: 0px;
}

.content {
    height: 100%;
    width: 100%;
}

pre {
    background: white;
    padding: 5px;
    font-family: Roboto,Helvetica Neue,sans-serif;
}

md-icon svg {
    fill: inherit;
}

.logo {
    margin-right: 8px;
    height: 36px;
    width: 36px;
}

md-nav-bar > div {
    height: 100% !important;
}

md-nav-bar > div > nav {
    margin-right: 8px;
    margin-left: 8px;
}

.overlapping-fab {
    bottom: 40px;
}

.submit-bottom-right {
    position: fixed !important;
}

.loading-container {
    height: 30px;
    width: 30px;
}

.transparent {
    background-color: transparent;
}

.no-ellipsis .md-select-value > span:not(.md-select-icon) {
    white-space: normal;
}

.searchable-select .search-box {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

.searchable-select .search-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}

.searchable-select md-content._md {
    max-height: 240px;
}

.no-text-transform {
    text-transform: none !important;
}

md-input-container > div > textarea {
    border-width: 2px !important;
}

md-option > div {
    flex: 1;
}

.standalone-icon {
    margin: 0px;
}

.hint {
    font-size: 14px;
    line-height: 14px;
}

.section-title {
    margin-bottom: 0px;
    padding-top: 0px;
}

.no-margin {
    margin: 0px;
}

.small-input-container {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.padding-sides {
    padding-left: 8px;
    padding-right: 8px;
}
.named-view-template li {
    border-bottom: 1px solid #ccc;
    height: auto;
    line-height: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: normal;
}

.named-view-template li:last-child {
    border-bottom-width: 0;
}

.no-vertical-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.parameters-padding {
    padding-top: 6px;
}

.small-icon {
    min-width: 12px;
    min-height: 12px;
    width: 12px !important;
    height: 12px !important;
}

table.compact td {
    padding: 0 8px !important;
    margin: 0 !important;
}

table.compact th {
    padding: 0 8px !important;
    margin: 0 !important;
}

table.compact tr {
    height: 34px !important;
}

table md-input-container {
    margin: 0;
}

.sidenav .md-nav-bar {
    border: none
}

.sidenav {
    background-color: #F5F5F5;
    overflow: scroll;
    color: #444;
    border: none;
}

md-list-item.active button {
    background-color: rgba(0,0,0,0.2);
}

md-list-item.active div div button {
    background-color: inherit;
}