[ng-click] {
    cursor: pointer;
}

html body {
    height: 100%;
    width: 100%;
}

ng-view {
    height: 100%;
    width: 100%;
}

.title {
    margin: 0px;
}

.content {
    height: 100%;
    width: 100%;
}


pre {
    background: white;
    padding: 5px;
    font-family: Roboto,Helvetica Neue,sans-serif;
}

md-icon svg {
    fill: inherit;
}

.submit-bottom-right {
    position: fixed !important;
}

.loading-container {
    height: 30px;
    width: 30px;
}