[ng-click] {
    cursor: pointer;
}

html body {
    height: 100%;
    width: 100%;
}

ng-view {
    height: 100%;
    width: 100%;
}

.title {
    margin: 0px;
}

.horizontal-margin {
    margin-left: 8px;
    margin-right: 8px;
}

.no-vertical-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}

.content {
    height: 100%;
    width: 100%;
}

h4 {
    font-weight: normal;
}

pre {
    background: white;
    padding: 5px;
    font-family: Roboto,Helvetica Neue,sans-serif;
}

md-icon svg {
    fill: inherit;
}

.logo {
    margin-right: 8px;
    height: 36px;
    width: 36px;
}

md-nav-bar > div {
    height: 100% !important;
}

md-nav-bar > div > nav {
    margin-right: 8px;
    margin-left: 8px;
}

.overlapping-fab {
    bottom: 32px;
}

.overlapping {
    bottom: 55px;
}

.submit-bottom-right {
    position: fixed !important;
}

#seedVertices[disabled], #pairs-input[disabled] {
    opacity: 0.8;
    border-style: dotted
}

.loading-container {
    height: 30px;
    width: 30px;
}

.transparent {
    background-color: transparent;
}

.no-ellipsis .md-select-value > span:not(.md-select-icon) {
    white-space: normal;
}

.searchable-select md-select-menu {
    padding-top: 3em;
}

.searchable-select .search-box {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

.searchable-select .search-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    background-color: #FFF;
    z-index: 2;
    width: 100%;
}

.searchable-select md-content._md {
    max-height: 240px;
}

.no-text-transform {
    text-transform: none !important;
}

md-input-container > div > textarea {
    border-width: 2px !important;
}

md-option > div {
    flex: 1;
}

.standalone-icon {
    margin: 0px;
}

.hint {
    font-size: 14px;
    line-height: 14px;
}

.section-title {
    margin-bottom: 0px;
    padding-top: 0px;
}

.no-margin {
    margin: 0px;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.small-input-container {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.padding-sides {
    padding-left: 8px;
    padding-right: 8px;
}
.named-view-template li {
    border-bottom: 1px solid #ccc;
    height: auto;
    line-height: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: normal;
}

.padding-bottom {
    padding-bottom: 10px;
}

.card-above-subheader {
    padding-bottom: 2px;
}

.named-view-template li:last-child {
    border-bottom-width: 0;
}

.no-vertical-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.parameters-padding {
    padding-top: 6px;
}

.small-icon {
    min-width: 12px;
    min-height: 12px;
    width: 12px !important;
    height: 12px !important;
}

table.compact td {
    padding: 0 8px !important;
    margin: 0 !important;
}

table.compact th {
    padding: 0 8px !important;
    margin: 0 !important;
}

table.compact tr {
    height: 34px !important;
}

table md-input-container {
    margin: 0;
}

.sidenav .md-nav-bar {
    border: none
}

.sidenav {
    background-color: #F5F5F5;
    overflow: auto;
    color: #444;
    border: none;
}

md-list-item.active button {
    background-color: rgba(0,0,0,0.2);
}

md-list-item.active div div button {
    background-color: inherit;
}

.short-toolbar {
    height: 40px;
    min-height: 40px;
}

.short-toolbar .md-toolbar-tools {
    height: 40px;
    min-height: 40px;
    font-weight: normal;
    font-size: 18px;
}

.fill-height {
    height: 100%
}

graph-control md-input-container {
    padding: 5px !important;
}

graph-control md-input-container.md-icon-left>label {
    left: 28px;
}

graph-control md-input-container .md-errors-spacer {
    display: none;
}

md-tab-data{
  opacity: 1;
  display: table;
  right: 0;
  left: initial;
  z-index: 20;
}

.no-border {
    border: none !important;
}

.on-top-of-graph {
    z-index: 2;
}

.abs-full-page {
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
}

.absolute {
    position: absolute;
}

#graphCy {
    z-index: 1
}

.operation-content.ng-hide-add, .operation.ng-leave {
    transition: 0.4s ease-in-out all;
    max-height: 3000px;
    opacity: 1;
}

.operation-content.ng-hide-add-active, .operation.ng-leave-active {
    max-height: 0px;
    opacity: 0;
}

.operation-content.ng-hide-remove, .operation.ng-enter {
    max-height: 0px;
    transition: 0.4s ease-in-out all;
    opacity: 0;
}

.operation-content.ng-hide-remove-active, .operation.ng-enter-active {
    max-height: 3000px;
    opacity: 1;
}

md-card.closed-remove {
    margin-left: 50px;
    margin-right: 50px;
    transition: 0.2s ease-in-out all;
}

md-card.closed-remove-active {
    margin-left: 8px;
    margin-right: 8px;
}

md-card.closed-add {
    margin-left: 8px;
    margin-right: 8px;
    transition: 0.2s ease-in-out all;
}

md-card.closed-add-active, md-card.closed {
    margin-left: 50px;
    margin-right: 50px;
}

.table-toolbar {
    background-color: white !important;
}

.table-toolbar md-select {
    color: rgba(0,0,0,.54);
}
.quick-query-search {
    background-color: transparent;
    border: none;
    padding: 5px;
}

.quick-query-search:focus {
    outline: none;
}

.no-errors .md-errors-spacer {
    display: none;
}

.search-icon {
    fill: #777 !important
}

quick-query {
    min-width: 200px;
}

.dialog-500 {
    width: 500px;
}

.icon-inline-with-input {
    margin-top: 18px !important;
}

.no-side-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.md-list-item-text {
    position: relative;
}

#edit-query {
    position: absolute;
    right: 0;
    bottom: 0;
}
