[ng-click] {
    cursor: pointer;
}

html body {
    height: 100%;
    width: 100%;
}

ng-view {
    height: 100%;
    width: 100%;
}

.title {
    margin: 0px;
}

.content {
    height: 100%;
    width: 100%;
}


pre {
    background: white;
    padding: 5px;
    font-family: Roboto,Helvetica Neue,sans-serif;
}

.fullWidthDialog {
    min-width: 940px;
}

md-icon svg {
    fill: inherit;
}